
<h3>
    <label class="labelform">
        7. EN EL MINISTERIO PÚBLICO
    </label>
</h3>
<div>
    <b>EN TRÁMITE</b>
    <div style="padding: 13px 0 0 21px;">
        <label class="labelform"> 1. PROCESOS DISCIPLINARIOS:</label><br><br>
        <div  class="add-icon" id="add_min_pub_tra_proc_disc" >Nueva fila</div><br><br>
        <table id="table_min_pub_tra_proc_disc" width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución </th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th width="50px"></th>

                </tr>
            </thead>
            <tbody>
		 {% for ddpFA in ConprocesoenMinJudA%}  


                <tr>
                    <td><input type="hidden" name="tra_tipo_mpub[]" value="1">
                        <textarea name="tra_ins_mpub[]" class="info_textarea">
                        {{ddpFA.IdInstitucion}}
                        </textarea>
                    </td>
                    <td>
                        <input type="hidden" name="tra_que_mpub[]">
                        <textarea type="text" name="tra_exp_mpub[]" class="info_textarea">{{ddpFA.Expediente}}</textarea>
                    </td>
                    <td><textarea name="tra_mot_mpub[]"  class="info_textarea">{{ddpFA.Motivo}}</textarea></td>
                    <td><textarea name="tra_est_mpub[]" class="info_textarea">{{ddpFA.EstadoProc}}</textarea></td>
                      <td> {{ ddpFA.boton|raw('html')}} </td>
                </tr>

								
                                {% endfor %}
											
			
			

				
				
				
				
            </tbody>
        </table>
        <br>
        <label class="labelform">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label>Total:<br><br>
        <div  class="add-icon" id="add_min_pub_tra_den_fisc" >Nueva fila</div><br><br>
        <table  id="table_min_pub_tra_den_fisc" width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Denuncia y/o queja</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>
			



                                {% for ddpFB in ConprocesoenMinJudB%}  


                <tr>
                    <td align="center">
                        <b>1</b>
                    </td>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="2">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="hidden" name="tra_exp_mpub[]">
                        <textarea name="tra_que_mpub[]" class="info_textarea">{{ddpFB.Quejas}}</textarea></td>
                    <td><textarea name="tra_mot_mpub[]" class="info_textarea">{{ddpFB.Motivo}}</textarea></td>
                    <td><textarea name="tra_est_mpub[]" class="info_textarea">{{ddpFB.EstadoProc}}</textarea></td>
                       <td> {{ ddpFB.boton|raw('html')}} </td>
                </tr>
								
                                {% endfor %}
								
								
			

            </tbody>
        </table><br>

        <label class="labelform">
            3. INVESTIGACIONES PRELIMINARES:
        </label><br><br>
        <div  class="add-icon" id="add_min_pub_tra_inv_prel" >Nueva fila</div><br><br>
        <table id="table_min_pub_tra_inv_prel" width="80%" class="table ui-widget ui-widget-content">

            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th width="30px"></th>
                </tr>
            </thead>
            <tbody>
			



                                {% for ddpFC in ConprocesoenMinJudC%}  

                <tr>
                    <td align="center"><b>1</b></td>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="3">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="hidden" name="tra_que_mpub[]">
                        <input type="hidden" name="tra_exp_mpub[]">
                        <textarea name="tra_mot_mpub[]" class="info_textarea">{{ddpFC.Motivo}}</textarea></td>
                    <td><textarea type="text" name="tra_est_mpub[]" class="info_textarea">{{ddpFC.EstadoProc}}</textarea></td>
                      <td> {{ ddpFC.boton|raw('html')}} </td>
                </tr>								
                                {% endfor %}
			

            </tbody>
        </table>
    </div>
    <br>
    <b>CONCLUIDAS:</b>
    <div style="padding: 13px 0 0 21px;">
        <label class="labelform">
            1. PROCESOS DISCIPLINARIOS EN EL MINISTERIO P&Uacute;BLICO:
        </label><br><br>
        <div  class="add-icon" id="add_min_pub_con_proc_desc" >Nueva fila</div><br><br>
        <table  width="80%" id="table_min_pub_con_proc_desc" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución </th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>
			

                                {% for ddpFAV in ConprocesoenadmA%}  


              <tr>
                    <td><input type="hidden" name="con_tipo_mpub[]" value="1">
                        <textarea name="con_ins_mpub[]" class="info_textarea">
                        {{ddpFAV.IdInstitucion}}
                        </textarea>
                    </td>
                    <td>
                        <input type="hidden" name="con_que_mpub[]">
                        <textarea name="con_exp_mpub[]" class="info_textarea">{{ddpFAV.Expediente}}</textarea>
                    </td>
                    <td><textarea name="con_mot_mpub[]" class="info_textarea">{{ddpFAV.Motivo}}</textarea></td>
                    <td><textarea name="con_est_mpub[]" class="info_textarea">{{ddpFAV.EstadoProc}}</textarea></td>
                     <td> {{ ddpFAV.boton|raw('html')}} </td>
                </tr>
				

								
                                {% endfor %}
			
  
            </tbody>
        </table>
        <br>
        <label class="labelform">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label>Total:<br><br>
        <div  class="add-icon" id="add_min_pub_con_den_fis" >Nueva fila</div><br><br>
        <table  width="80%" id="table_min_pub_con_den_fis" class="table ui-widget ui-widget-content">

            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>

				
				



                                {% for ddpFBV in ConprocesoenadmB%}  


              <tr>
                    <td align="center"><b>1</b></td>
                        <input type="hidden" name="con_tipo_mpub[]" value="2">
                        <input type="hidden"name="con_ins_mpub[]">
                        <input type="hidden" name="con_exp_mpub[]" >
                    <td>
                        <input type="hidden" name="con_que_mpub[]">
                        <textarea name="con_que_mpub[]" class="info_textarea">{{ddpFBV.Quejas}}</textarea>
                    </td>
                    <td><textarea name="con_mot_mpub[]" class="info_textarea">{{ddpFBV.Motivo}}</textarea></td>
                    <td><textarea name="con_est_mpub[]" class="info_textarea">{{ddpFBV.EstadoProc}}</textarea></td>
                    <td> {{ ddpFBV.boton|raw('html')}} </td>
                </tr>
				 			
                                {% endfor %}
				
            </tbody>
        </table><br>
    </div>
</div>

