
<h3>
    <label class="labelform">
        3. PROCEDIMIENTOS ADMINISTRATIVOS EN LA ADMINISTRACIÓN PÚBLICA EN GENERAL
    </label>
</h3>
<div>
    <div  class="add-icon" id="add_pro_ad_pub_gen" >Nueva fila</div><br><br>
    <table width="80%" id="table_pro_ad_pub_gen" class="table ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Resolución</th>
                <th>Sanción</th>
                <th>Estado</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>

                                {% for ddpD in ConprocesoadministrativosD%}  
								<tr>
									<td><textarea name="cbo_ins_adm1[]" class="info_textarea">{{ddpD.IdInstitucion}}</textarea></td>
									<td><textarea type="text" name="txt_res_adm1[]" class="info_textarea">{{ddpD.Resolucion}}</textarea></td>
									<td><textarea type="text" name="txt_san_adm1[]" class="info_textarea">{{ddpD.Sancion}}</textarea></td>
									<td><textarea type="text" name="txt_est_adm1[]" class="info_textarea">{{ddpD.Estado}}</textarea></td>
									<td> {{ ddpD.boton|raw('html')}} </td>
								</tr>
								
                                {% endfor %}
		

        </tbody>
    </table>
</div>
<h3>
    <label class="labelform">
        4. SANCIONES ADMINISTRATIVAS EN LA ADMINISTRACIÓN PÚBLICA GENERAL
    </label>
</h3>
<div>
    <div  class="add-icon" id="add_sanciones_admin_pub" >Nueva fila</div><br><br>
    <table  width="80%" id="table_sanciones_admin_pub" class="table ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Resolución</th>
                <th>Sanci&oacute;n</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
		

                                {% for ddpE in ConprocesoadministrativosE%}  
								

									<tr>
										<td>
											<select name="cbo_ins_adm2[]">
												<option value="0">-Elegir-</option>
												<option value="1">PJ</option>
												<option value="2">MP</option>
												<option value="4">SERVIR</option>
											</select>
											{{ddpE.IdInstitucion}}
										</td>
						
										<td><textarea type="text" name="txt_res_adm2[]" class="info_textarea">{{ddpE.Resolucion}}</textarea></td>
										<td><textarea type="text" name="txt_san_adm2[]" class="info_textarea">{{ddpE.Sancion}}</textarea></td>
										<td> {{ ddpE.boton|raw('html')}} </td>
									</tr>

                                {% endfor %}
		


        </tbody>
    </table>
</div>
<h3>
    <label class="labelform">
        5. MEDIDAS DISCIPLINARIAS EN EL PODER JUDICIAL Y MINISTERIO PÚBLICO 
    </label>
</h3>
<div>
    <div  class="add-icon" id="add_med_disc_pod_jud" >Nueva fila</div><br><br>
    <table width="80%" id="table_med_disc_pod_jud" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Sanci&oacute;n</th>                                    
                <th>Expediente, Resoluci&oacute;n y Motivo</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>

                                {% for ddpF in ConprocesoadministrativosF%}  
					

            <tr>
                <td>
                    <select name="cbo_ins_adm3[]">
                        <option value="0">-Elegir-</option>
                        <option value="1">MP</option>
                        <option value="2">PJ</option>
                    </select>{{ddpF.IdInstitucion}}
                </td>
                <td><textarea type="text" name="txt_san_adm3[]" class="info_textarea">{{ddpF.Sancion}}</textarea></td>
                <td><textarea type="text" name="txt_res_adm3[]" class="info_textarea">{#{ddpF.Expediente}#}</textarea></td>
                <td> {{ ddpF.boton|raw('html')}} </td>
            </tr>
									

                                {% endfor %}
		


        </tbody>
    </table>
</div>
