{% extends 'hojaVidaBundle:plantillas:index.html.twig' %}

{% block scripts %}
       {{ parent() }} 
<link href="{{asset('web/bundles/hoja_vida/css/style.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('web/plugins/jqgrid/css/ui.jqgrid.css')}}" />


<script type="text/javascript" src="{{asset('web/plugins/jqgrid/js/jquery-1.7.2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>

<script>
    $(document).ready(function() {


        $(".auto").autocomplete({
            source: '{{path('_grid_usuarios')}}'
        });
        $("#tab-listado").tabs();
        $(".boton").button({
            icons: {
                primary: "ui-icon-zoomin"
            }});



        $("#hdvida").click(function() {
            var cadena = $("#txtdni").val() + "";
            var cade = cadena.split("-");
            if ($("#txtdni").val() !=="") {
                if (cade[0].length !== "") {
                    location.href = "/hoja_vida/app_dev.php/registro/index/" + cade[0];
                } else {
                    alert("Ingresa dni");
                }
            }else{
                alert("Ingrese DNI");
            }
        });

    });
    </script>

{% endblock scripts %}
 {% block titulo%}
    NUEVO
{% endblock titulo%} 

{% block cuerpo %}   
    <div id="tab-listado">
        <ul>
            <li><a href="#tab-listado-1">BUSQUEDA DE USUARIOS</a></li>

        </ul>
        <div id="tab-listado-1">
            <div style="width: 800px;margin: 5px auto;"> 
                Buscar:
                <input type="text" class="auto" id="txtdni" style="width:450px;">
                <input type="button" id="hdvida" value="Hoja de Vida">
            </div>  
        </div>
    </div>


{% endblock cuerpo %}   
