 {% extends 'hojaVidaBundle:plantillas:index.html.twig' %}

{% block scripts %}
        {{ parent() }}
<link href="{{asset('web/bundles/hoja_vida/css/style.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('web/plugins/cus-icons/cus-icons.css')}}" />


<script type="text/javascript" src="{{asset('web/plugins/jqgrid/js/jquery-1.7.2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script>
    $(document).ready(function() {
        $("#options-form").menu();
        $("#options2-form").menu();
        $(".button").button();
        $("#tab-listado").tabs();
        $(".boton").button({
            icons: {
                primary: "ui-icon-zoomin"
            }});
    });



    </script>

{% endblock scripts %}      
    {% block titulo %}
    <div>LISTA DE POSTULANTES</div>
    {% endblock titulo %}
{% block cuerpo %}   

    <div id="tab-listado">
        <ul>
            <li><a href="#tab-listado-1">MODIFICAR</a></li>
        </ul>

        <div id="tab-listado-1">
            <div id="table_search_postulante" style="width:800px;margin:1px auto;">

                <table width="700px" class="table ui-widget ui-widget-content">
                    <head>
                    <tr class="ui-widget-header" style="text-align:center;">
                        <td>DNI</td>
                        <td>NOMBRES</td>
                        <td>APELLIDOS</td>
                        <td>EDAD</td>
                        <td colspan="2"></td>
                    </tr>
                    </head>
                    <tbody>
                        {% for item in postulantes %}
                            <tr>
                                <td>{{item.dni}}</td>
                                <td>{{item.nombres}}</td>
                                <td>{{item.apellidos}}</td>
                                <td>{{item.edad}}</td>
                                <td>
                                    <a href="{{item.url_pdf}}" target="_blank">
                                        <div title="Reporte" class="row-update ui-state-default ui-corner-all" style="float: left; margin-left: 10px;padding:6px;">
                                            <i class="cus  cus-page-white-acrobat"></i>
                                        </div>
                                    </a>
                                </td>
                                <td style="text-align:center;">
                                    <a href="{{item.pk_dat_postulante}}">
                                        <div title="Actualizar" class="row-update ui-state-default ui-corner-all" style="float: left; margin-left: 10px;padding:6px;">
                                            <i class="cus cus-application-form-add"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                     {%endfor%}    
                        </tbody>
                    </table>
                    <input type="hidden" id="codigo_pos" value="">

                </div>
            </div>
        </div>
{% endblock cuerpo %}   






