 {% extends 'hojaVidaBundle:plantillas:index.html.twig' %}

{% block scripts %}
        {{ parent() }}
<link href="{{asset('web/bundles/hoja_vida/css/style.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('web/plugins/jqgrid/css/ui.jqgrid.css')}}" />


<script type="text/javascript" src="{{asset('web/plugins/jqgrid/js/jquery-1.7.2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script type="text/javascript" src="{{asset('web/plugins/jqgrid/js/i18n/grid.locale-es.js')}}"></script>
<script type="text/javascript" src="{{asset('web/plugins/jqgrid/js/jquery.jqGrid.src.js')}}"></script>
<script>
    $(document).ready(function() {

        /* $(".auto").autocomplete({
         source: "",
         });
         
         $("#postulantes").click(function() {
         var cadena = $("#txtdni").val() + "";
         var cade = cadena.split("-");
         if ($("#txtdni").val() !== "") {
         if (cade[0].length !== "") {
         location.href = "/hoja_vida/app_dev.php/registro/datos_mantenimiento/" + cade[0];
         } else {
         alert("Ingresa dni");
         }
         } else {
         alert("Ingrese DNI");
         }
         });
         */


        /* $("#table-documento").jqGrid({
         url: '{path('_gridPostulante')}',
         datatype: 'json',
         mtype: 'POST',
         colNames: ["DNI", "NOMBRES", "APELLIDOS", "EDAD", ""],
         colModel: [
         {name: 'dni', width: "70px", index: 'dni', sortable: true, align: "center"},
         {name: 'nombres', width: "80px", align: "center"},
         {name: 'apellidos', width: "80px", align: "center"},
         {name: 'edad', width: "50px", align: "center"},
         {name: 'dato', width: 40, align: "center"},
         ],
         height: 320,
         width: 800,
         pager: "#table-documento-paginator",
         rowNum: 15,
         rowList: [15, 30],
         caption: 'POSTULANTES'
         });
         
         
         $("#table_search_postulante").delegate(".row-update", "click", function() {
         var url = $(this).attr("rel");
         location.href = url;
         //alert(codigo);
         
         });
         */

        $("#options-form").menu();
        $(".button").button();
        $("#tab-listado").tabs();
        $(".boton").button({
            icons: {
                primary: "ui-icon-zoomin"
            }});


        $("#menu-formularios").dialog({
            resizable: false,
            height: 300,
            
            modal: true,
            autoOpen: false,
        });

        $(".item-formularios").click(function() {
           
            $("#menu-formularios").dialog("open");
        });

    });



    </script>
{% endblock scripts %}      
    {% block titulo %}
    <div>LISTA DE POSTULANTES</div>
    {% endblock titulo %}
{% block cuerpo %}   

    <div id="tab-listado">
        <ul>
            <li><a href="#tab-listado-1">LISTA DE POSTULANTES</a></li>
            <!--<li><div class="boton">BUSCAR</div></li>-->
        </ul>

        <div id="tab-listado-1">
            <div id="table_search_postulante" style="width:800px;margin:1px auto;">

                <table border="1" width="700px">
                    <tr>
                        <td>DNI</td>
                        <td>NOMBRES</td>
                        <td>APELLIDOS</td>
                        <td>EDAD</td>
                        <td></td>
                    </tr>
                        {% for item in postulantes %}
                    <tr>
                        <td>{{item.dni}}</td>
                        <td>{{item.nombres}}</td>
                        <td>{{item.apellidos}}</td>
                        <td>{{item.edad}}</td>
                        <td><input type="button" rel="{{item.pk_dat_postulante}}" class="item-formularios" value="Actualizar"></td>
                    </tr>
                     {%endfor%}                
                </table>

                <div id="menu-formularios"></div>







                <!--Buscar:
                <input type="text" class="auto" id="txtdni" style="width:450px;">
                <input type="button" id="postulantes" value="ver Postulantes">-->
            </div>
        </div>
    </div>
{% endblock cuerpo %}   
