<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>.::HOJA DE VIDA::.</title>
        <link href="{{asset('web/bundles/hoja_vida/jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.css')}}" rel="stylesheet">
        <link href="{{asset('web/bundles/hoja_vida/css/style.css')}}" rel="stylesheet">
        <script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-1.9.1.js')}}"></script>
        <script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
        <script src="{{asset('web/bundles/hoja_vida/campos.js')}}"></script>


        <script type="text/javascript" src="{{asset('web/plugins/jValidate/jquery.validate.js')}}"></script>
        <script type="text/javascript" src="{{asset('web/plugins/jValidate/messages_es.js')}}"></script>
        <script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery.ajax-progress.js')}}"></script>

        <script>



            $(document).ready(function() {

                {% include 'hojaVidaBundle:js:util.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_datos_personales.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_datos_postulante.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_datos_academicos.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_exp_profesional.html.twig' %}


                function cargando() {
                    $("#boton-guardar").css("display", "none");
                    $("#cargando").css("display", "block");
                    var val = 0;
                    var interval = setInterval(function() {
                        val++;
                        $('#prog').progressbar({value: val});
                        $("#prog_per").text(val + "%");
                        if (val === 100) {
                            clearInterval(interval);
                            $("#cargando").css("display", "none");
                            $("#boton-guardar").css("display", "block");
                        }
                    }, 25);
                }

                $("#add-datos-personales").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "SI": function() {
                            frm_datos_personales();
                            $(this).dialog("close");

                        },
                        "NO": function() {
                            $(this).dialog("close");
                        }}
                });

                $("#add-datos-postulante").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "SI": function() {
                            frm_como_postulante();
                            $(this).dialog("close");
                        },
                        "NO": function() {
                            $(this).dialog("close");
                        }}
                });

                $("#add-datos-academicos").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "SI": function() {
                            frm_datos_academicos();
                            $(this).dialog("close");
                        },
                        "NO": function() {
                            $(this).dialog("close");
                        }}
                });
                $("#add-exp-profesional").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "SI": function() {
                            frm_exp_profesional();
                            $(this).dialog("close");
                        },
                        "NO": function() {
                            $(this).dialog("close");
                        }}
                });

                $("#add-conducta").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "SI": function() {
                            frm_conducta();
                            $(this).dialog("close");
                        },
                        "NO": function() {
                            $(this).dialog("close");
                        }}
                });

                $("#frm-datos-personales").validate({
                    rules: {
                        txt_nombres: "required",
                        txt_apellidos: "required",
                        txt_lugarNac: {
                            required: true,
                            minlength: 5
                        },
                        txt_fechaNac: "required",
                        file_foto: "required",
                        txt_dni: {
                            required: true,
                            number: true,
                            minlength: 8,
                            maxlength: 8
                        }
                    },
                    submitHandler: function() {
                        $("#add-datos-personales").dialog("open");
                    }
                });

                $("#frm-como-postulante").validate({
                    rules: {
                        txt_cargoAPostular: "required",
                        txt_condicion: "required",
                        txt_nota: {
                            required: true,
                            number: true
                        },
                        txt_prePromedio: {
                            required: true,
                            number: true

                        },
                        txt_ordenMerito: {
                            required: true,
                            number: true
                        },
                        txt_plazasVacantes: {
                            required: true,
                            number: true,
                        },
                        txt_ex_cono: "required",
                        afi_curr: "required"
                    },
                    submitHandler: function() {
                        $("#add-datos-postulante").dialog("open");
                    }
                });

                $("#frm-datos-academicos").validate({
                    rules: {
                        txt_fechaIncorporacion: "required",
                        txt_tituloOtros: "required",
                        txt_tesisTitular: "required"
                    },
                    submitHandler: function() {
                        $("#add-datos-academicos").dialog("open");
                    }
                });

                $("#frm-exp-profesional").validate({
                    rules: {
                        txt_resolucion: "required",
                        txt_fec_res: "required",
                        txt_tesisTitular: "required",
                        situacion_laboral_actual: "required",
                        text_area_JurFis: "required"
                    },
                    submitHandler: function() {
                        $("#add-exp-profesional").dialog("open");
                    }
                });

                $("#guardar_frm").click(function() {
                    var frm = $(this).attr("rel");

                    switch (frm) {
                        case "frm-datos-personales":
                            $("#frm-datos-personales").submit();
                            break;

                        case "frm-como-postulante":
                            $("#frm-como-postulante").submit();
                            break;

                        case "frm-datos-academicos":
                            $("#frm-datos-academicos").submit();
                            break;

                        case "frm-exp-profesional":
                            $("#frm-exp-profesional").submit();
                            break;
                        case "frm-conducta":
                            $("#add-conducta").dialog("open");
                            break;
                        case "frm_info_jue_fis":
                            frm_info_jue_fis();
                            break;
                        case "frm_direc_proc":
                            frm_direc_proc();
                            break;
                        case "frm_info_colegio":
                            frm_info_colegio();
                            break;
                        case "frm_info_patrimonial":
                            frm_info_patrimonial();
                            break;

                    }
                });

                function frm_datos_personales() {
                    var archivos = document.getElementById("file_foto");
                    var archivo = archivos.files;
                    var data = new FormData();

                    var nombres = $("input:text[name='txt_nombres']").val();
                    var apellidos = $("input:text[name='txt_apellidos']").val();
                    var lugarnac = $("input:text[name='txt_lugarNac']").val();
                    var fechanac = $("input:text[name='txt_fechaNac']").val();
                    var edad = $("input:text[name='txt_edad']").val();
                    var dni = $("input:text[name='txt_dni']").val();
                    var foto = archivo[0];
                    var discapacidad = $("input:radio[name='rad_discapacidad']:checked").val();
                    var certificado = $("input:text[name='txt_certDiscapacidad']").val();

                    data.append("txt_nombres", nombres);
                    data.append("txt_apellidos", apellidos);
                    data.append("txt_lugarNac", lugarnac);
                    data.append("txt_fechaNac", fechanac);
                    data.append("txt_edad", edad);
                    data.append("txt_dni", dni);
                    data.append("file_foto", foto);
                    data.append("rad_discapacidad", discapacidad);
                    data.append("txt_certDiscapacidad", certificado);

                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosPersonales')}}",
                        data: data,
                        async: "true",
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function(e) {
                            $("#id_cod").val(e);
                            $("#tabs1").tabs("disable", 0);
                            $("#tabs1").tabs("enable", 1);
                            $("#tabs1").tabs("option", "active", 1);
                            $("#guardar_frm").attr("rel", "frm-como-postulante");
                            $("#titulo_save").text("DATOS POSTULANTE");
                            $("#pos-apellidos").html(apellidos);
                            $("#pos-nombres").html(nombres);
                            $("#pos-dni").html(dni);
                            $("#foto-personal").attr("src", "{{asset('web/fotos/')}}" + dni + ".jpg");
                        }
                    });

                }
                function frm_como_postulante() {
                    var form = $("#frm-como-postulante").serialize() + "&id_cod=" + $("#id_cod").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosPostulante')}}",
                        data: form,
                        success: function(e) {
                            $("#id_pos").val(e);
                            $("#tabs1").tabs("disable", 1);
                            $("#tabs1").tabs("enable", 2);
                            $("#tabs1").tabs("option", "active", 2);
//                            $("#guardar_frm").attr("rel", "frm-datos-academicos");
                            $("#guardar_frm").attr("rel", "frm_info_patrimonial");

                            $("#titulo_save").text("DATOS ACADEMICOS");
                        }
                    });
                }

                function frm_datos_academicos() {

                    var form = $("#frm-datos-academicos").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosAcademicos')}}",
                        data: form,
                        success: function(e) {
                            $("#tabs1").tabs("disable", 2);
                            $("#tabs1").tabs("enable", 3);
                            $("#tabs1").tabs("option", "active", 3);
                            $("#guardar_frm").attr("rel", "frm-exp-profesional");
                            $("#titulo_save").text("EXPERIENCIA PROFESIONAL");
                        }

                    });
                }
                function frm_exp_profesional() {

                    var form = $("#frm-exp-profesional").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newExpProfesional')}}",
                        data: form,
                        success: function(e) {

                            $("#tabs1").tabs("disable", 3);
                            $("#tabs1").tabs("enable", 4);
                            $("#tabs1").tabs("option", "active", 4);
                            $("#guardar_frm").attr("rel", "frm-conducta");
                            $("#titulo_save").text("CONDUCTA");
                        }

                    });

                }
                function frm_conducta() {
                    var form = $("#frm-conducta").serialize() + "&id_pos=" + $("#id_pos").val();

                    $.ajax({
                        type: "POST",
                        url: "{{path('_newConducta')}}",
                        data: form,
                        success: function(e) {
                            alert(e);
                            // $("#guardar_frm").attr("rel", "frm-datos-academicos");
                        }

                    });
                }
                function frm_info_jue_fis() {
                    var form = $("#frm_info_jue_fis").serialize() + "&id_pos=" + $("#id_pos").val();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_infojuefis')}}",
                        data: form,
                        success: function(e) {
                            alert(e);
                        }
                    });
                }
                function frm_direc_proc() {
                    var form = $("#frm_direc_proc").serialize() + "&id_pos=" + $("#id_pos").val();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_direcproc')}}",
                        data: form,
                        success: function(e) {
                            alert(e);
                        }
                    });
                }
                function frm_info_colegio() {
                    var form = $("#frm_info_colegio").serialize() + "&id_pos=" + $("#id_pos").val();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_infocolegio')}}",
                        data: form,
                        success: function(e) {
                            alert(e);
                        }
                    });
                }
                function frm_info_patrimonial() {
                    var form = $("#frm_info_patrimonial").serialize() + "&id_pos=" + $("#id_pos").val();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_patrimonial')}}",
                        data: form,
                        success: function(e) {
                            alert(e);
                        }
                    });
                }
            });

            </script>
        </head>
        <body>

            <div id="hoja-registro">
                <div id="add-datos-personales" title="Datos Personales">
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                    ¿Deseas Continuar?
                </div>
                <div id="add-datos-postulante" title="Datos Como Postulante">
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                    ¿Deseas Continuar?
                </div>
                <div id="add-datos-academicos" title="Datos Academicos">
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                    ¿Deseas Continuar?
                </div>

                <div id="add-exp-profesional" title="Experiencia Profesional">
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                    ¿Deseas Continuar?
                </div> 
                <div id="add-conducta" title="Conducta">
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                    ¿Deseas Continuar?
                </div>      

                <table border="0" width="100%">
                    <tr>
                        <td>
                            <div id="head-logo">
                                <div class="logo" style="float:left;"></div>
                                <div style="width:360px;padding-top: 13px;text-align:center;" >
                                    <span class="main-title">Consejo Nacional de la Magistratura</span><br>
                                    <span class="single-title">Dirección de Selección y Nombramiento</span><br>
                                    <span class="main-theme">Convocatoria N° 001-2013-SN/CNM</span><br>
                                    <span class="single-theme">HOJA DE VIDA</span>
                                </div>
                                <div style="clear: left;"></div>
                            </div>
                        </td>
                        <td>
                            <div style="float: right;">
                                <table width="300px;">
                                    <tr>
                                        <td width="20%"><img id="foto-personal" src="" width="90px" height="90px"></td>
                                        <td>
                                            <b>
                                                <span id="pos-apellidos"></span><br>
                                                <span id="pos-nombres"></span><br>
                                                <span id="pos-dni"></span>
                                            </b>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div style="clear: right;"></div>
                        </td>

                    </tr>
                </table>

                <input type="hidden" id="id_cod">
                <input type="hidden" id="id_pos">

                <div id="tab-cuestionario">
                    <ul>
                        <li><a href="#tab-cuestionario-1">CUESTIONARIO 1</a></li>
                        <li><a href="#tab-cuestionario-2">CUESTIONARIO 2</a></li>
                        <li><a href="#tab-cuestionario-3">CUESTIONARIO 3</a></li>
                        <li><a href="#tab-cuestionario-4">CUESTIONARIO 4</a></li>
                        <li><a href="#tab-cuestionario-5">CUESTIONARIO 5</a></li>
                    </ul>
                    <div id="tab-cuestionario-1">
                        <div id="tabs1">{% include 'hojaVidaBundle:cuestionarios:tab1.html.twig' %}</div>
                    </div>
                    <div id="tab-cuestionario-2">
                        <div id="tabs2">{% include 'hojaVidaBundle:cuestionarios:tab2.html.twig' %}</div>

                    </div>
                    <div id="tab-cuestionario-3">
                        <div id="tabs3">{% include 'hojaVidaBundle:cuestionarios:tab3.html.twig' %}</div>
                    </div>
                    <div id="tab-cuestionario-4">
                        <div id="tabs4">{% include 'hojaVidaBundle:cuestionarios:tab4.html.twig' %}</div>
                    </div>
                    <div id="tab-cuestionario-5">
                        {% include 'hojaVidaBundle:formularios:info_patrimonial.html.twig' %}
                        </div>    
                    </div>
                </div>
                <div class="panel_guardar">
                    <div id="titulo_save" class="titulo_save">DATOS PERSONALES</div>
                    <div id="cargando" style="display:none;">
                        <div id="prog" style="margin: 0 5px 0 5px;"></div>
                        <div id="prog_per"></div>
                    </div>
                    <div id="boton-guardar" style="text-align: center;">
                        <input type="button" id="guardar_frm" rel="frm-datos-personales" class="button"value="Guardar">
                    </div>
                </div>
            </body>
        </html>


