<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>.::HOJA DE VIDA::.</title>
        <link href="{{asset('web/bundles/hoja_vida/jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.css')}}" rel="stylesheet">
        <link href="{{asset('web/bundles/hoja_vida/css/style.css')}}" rel="stylesheet">
        <script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-1.9.1.js')}}"></script>
        <script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
        <script src="{{asset('web/bundles/hoja_vida/campos.js')}}"></script>


        <script type="text/javascript" src="{{asset('web/plugins/jValidate/jquery.validate.js')}}"></script>
        <script type="text/javascript" src="{{asset('web/plugins/jValidate/messages_es.js')}}"></script>
        <script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery.ajax-progress.js')}}"></script>
        <script src="{{asset('web/plugins/jquery_numeric/jquery.numeric.js')}}"></script>

        <script>



            $(document).ready(function() {

                {% include 'hojaVidaBundle:js:util.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_datos_personales.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_datos_postulante.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_datos_academicos.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_exp_profesional.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_info_patrimonial.html.twig' %}
                {% include 'hojaVidaBundle:js/conducta:procesos_judiciales.html.twig' %}
                {% include 'hojaVidaBundle:js/conducta:procesos_administrativos.html.twig' %}
                {% include 'hojaVidaBundle:js/conducta:procesos_PJudicial.html.twig' %}
                {% include 'hojaVidaBundle:js/conducta:procesos_MPublico.html.twig' %}
                {% include 'hojaVidaBundle:js:frm_mov_migratorio.html.twig' %}



                function cargando() {
                    $("#boton-guardar").css("display", "none");
                    $("#cargando").css("display", "block");
                    var val = 0;
                    var interval = setInterval(function() {
                        val++;
                        $('#prog').progressbar({value: val});
                        $("#prog_per").text(val + "%");
                        if (val === 100) {
                            clearInterval(interval);
                            $("#cargando").css("display", "none");
                            $("#boton-guardar").css("display", "block");
                        }
                    }, 25);
                }




                $("#guardar_frm").click(function() {
                    /* var val=true;
                     $(".obligate").each(function(){
                     if($(this).val()===""){
                     val=false;
                     return false;   
                     }
                     
                     });
                     alert(val+"d");*/

                    frm_como_postulante();
                });


                function frm_como_postulante() {
                    var form = $("#frm-como-postulante").serialize() + "&id_cod=" + $("#id_cod").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosPostulante')}}",
                        data: form,
                        success: function(e) {
                            $("#id_pos").val(e);
                            $("#guardar_frm").attr("rel", "frm-datos-academicos");


                            frm_exp_profesional();
                            frm_mov_migratorio();
                            frm_datos_academicos();
                            frm_conducta();
                            frm_info_jue_fis();
                            frm_direc_proc();
                            frm_info_colegio();
                            frm_info_patrimonial();
                            frm_info_camara();
                            frm_info_registro();
                            $("#guardar_frm").button({disabled: true});

                        }
                    });
                }

                function frm_datos_academicos() {

                    var form = $("#frm-datos-academicos").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosAcademicos')}}",
                        data: form,
                        success: function(e) {

                            $("#guardar_frm").attr("rel", "frm-exp-profesional");


                        }

                    });
                }
                function frm_exp_profesional() {

                    var form = $("#frm-exp-profesional").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newExpProfesional')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm-conducta");

                        }

                    });
                }
                function frm_conducta() {
                    var form = $("#frm-conducta").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newConducta')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_info_jue_fis");



                        }

                    });

                }


                function frm_info_jue_fis() {
                    var form = $("#frm_info_jue_fis").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_infojuefis')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_direc_proc");

                        }
                    });
                }
                function frm_direc_proc() {
                    var form = $("#frm_direc_proc").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_direcproc')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_info_colegio");

                        }
                    });
                }
                function frm_info_colegio() {
                    var form = $("#frm_info_colegio").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_infocolegio')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_info_patrimonial");

                        }
                    });
                }
                function frm_info_patrimonial() {
                    var form = $("#frm_info_patrimonial").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_patrimonial')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_mov_migratorio");


                        }
                    });
                }
                function frm_mov_migratorio() {
                    var form = $("#frm_mov_migratorio").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_mov_migratorio')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_info_camara");

                        }
                    });
                }
                function frm_info_camara() {
                    var form = $("#frm_info_camara").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_camara')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_info_registro");

                        }
                    });
                }

                function frm_info_registro() {
                    var form = $("#frm_info_registro").serialize() + "&id_pos=" + $("#id_pos").val() + "&user=" + $("#user").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_registro')}}",
                        data: form,
                        success: function(e) {
                            $("#guardar_frm").attr("rel", "frm_info_registro");

                        }
                    });
                }

                var num_min_pub_con_den_fis = 0;
                $("#add_min_pub_con_den_fis").click(function() {
                    num_min_pub_con_den_fis++;
                    add_min_pub_con_den_fis();
                    actualizar_min_pub_con_den_fis();
                    $(".menos").button();

                });


                $("#table_min_pub_con_den_fis").delegate(".remove_min_pub_con_den_fis", "click", function() {
                    if (num_min_pub_con_den_fis > 0) {
                        var row_position = ($(".remove_min_pub_con_den_fis").index($(this)) + 1);
                        $("#table_min_pub_con_den_fis tbody tr").eq(row_position).remove();
                        num_min_pub_con_den_fis--;
                        actualizar_min_pub_con_den_fis();
                    }
                });


                function add_min_pub_con_den_fis() {
                    var new_row = '<tr>';
                    new_row += '<td></td>';
                    new_row += '<input type="hidden" name="con_tipo_mpub[]" value="2">';
                    new_row += '<input type="hidden"name="con_ins_mpub[]">';
                    new_row += '<input type="hidden" name="con_exp_mpub[]" >';
                    new_row += '<td><input type="text" name="con_que_mpub[]" class="row-edit"></td>';
                    new_row += '<td><input type="text" name="con_mot_mpub[]" class="row-edit"></td>';
                    new_row += '<td><input type="text" name="con_est_mpub[]"class="row-edit"></td>';
                    new_row += '<td><input class="remove_min_pub_con_den_fis menos" type="button" value="-"></td>';
                    new_row += '</tr>';
                    $("#table_min_pub_con_den_fis tbody").append(new_row);
                }

                function actualizar_min_pub_con_den_fis() {
                    for (var i = 1; i <= num_min_pub_con_den_fis; i++) {
                        $("#table_min_pub_con_den_fis tbody tr:eq(" + i + ") td:eq(0)").html("<b>" + (i + 1) + "</b>");
                    }
                }

                var num_dec_bienes_rentas = 0;
                $("#add_dec_bienes_rentas").click(function() {

                    num_dec_bienes_rentas++;
                    add_dec_bienes_rentas();
                    $(".menos").button();
                    var size = $(".txt_ing_anio").size();
                    $(".txt_ing_anio").eq(size - 1).html(comboanio());

                });
                $("#table_dec_bienes_rentas").delegate(".remove_dec_bienes_rentas", "click", function() {
                    if (num_dec_bienes_rentas > 0) {
                        var row_position = ($(".remove_dec_bienes_rentas").index($(this)) + 1);
                        $("#table_dec_bienes_rentas tbody tr").eq(row_position).remove();
                        num_dec_bienes_rentas--;
                        sum_ing_br();
                    }
                });

                function add_dec_bienes_rentas() {
                    var new_row = ' <tr>';
                    new_row += '<td><select name="txt_ing_anio_pat[]" class="txt_ing_anio numeric cbo_anio"></select></td>';
                    new_row += '<td><input name="txt_ing_remu[]" type="text" class="decimal txt_ing_remu txt_ing1" value="0"></td>';
                    new_row += '<td><input  name="txt_ing_dietas[]" type="text" class="decimal txt_ing1" value="0"></td>';
                    new_row += '<td><textarea name="txt_descripcion_ing[]" class="info_textarea"></textarea></td>';
                    new_row += '<td><input name="txt_val_ing[]" type="text" class="txt_val_ing decimal" value="0"></td>';
                    new_row += '<td><input class="remove_dec_bienes_rentas menos" type="button" value="-"></td>';
                    new_row += '</tr>';

                    $("#table_dec_bienes_rentas tbody").append(new_row);

                }

                $("#table_dec_bienes_rentas").delegate(".txt_val_ing", "keyup", function() {
                   sum_ing_br();
                });

                function sum_ing_br() {
                    var sum = 0;
                    for (var i = 0; i < $(".txt_val_ing").size(); i++) {
                        if ($(".txt_val_ing").eq(i).val() === "") {
                            $(".txt_val_ing").eq(i).val(0);
                        }
                        $(".txt_val_ing").eq(i).val(parseFloat($(".txt_val_ing").eq(i).val()));
                        sum += parseFloat($(".txt_val_ing").eq(i).val());
                    }

                    $(".txtval_total_ing").val(sum);
                }












            });


            </script>
        </head>
        <body>

            <div id="hoja-registro">
                <table border="0" width="100%" style="display:block;">
                    <tr>
                        <td>
                            <div id="head-logo">
                                <div class="logo" style="float:left;"></div>
                                <div style="width:360px;padding-top: 13px;text-align:center;" >
                                    <span class="main-title">Consejo Nacional de la Magistratura</span><br>
                                    <span class="single-title">Dirección de Selección y Nombramiento</span><br>
                                    <span class="main-theme">Convocatoria N° 001-2013-SN/CNM</span><br>
                                    <span class="single-theme">HOJA DE VIDA</span>
                                </div>
                                <div style="clear: left;"></div>
                            </div>
                        </td>
                        <td>
                            <div style="float: right;">
                                <table width="300px;">
                                    <tr>
                                        <td width="20%"></td>
                                        <td>
                                            <b>
                                                <span id="pos-apellidos"></span><br>
                                                <span id="pos-nombres"></span><br>
                                                <span id="pos-dni"></span>
                                            </b>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div style="clear: right;"></div>
                        </td>

                    </tr>
                </table>

                <input type="hidden" id="id_cod" value="{{dni}}">
                <input type="hidden" id="user" value="{{user}}">
                <input type="hidden" id="id_pos">

                <div id="tab-cuestionario">
                    <ul>
                        <li><a href="#tab-cuestionario-1">RUBRO 1</a></li>
                        <li><a href="#tab-cuestionario-2">RUBRO 2</a></li>
                        <li><a href="#tab-cuestionario-3">RUBRO 3</a></li>
                        <li><a href="#tab-cuestionario-4">RUBRO 4</a></li>
                        <li><a href="#tab-cuestionario-5">RUBRO 5</a></li>
                    </ul>
                    <div id="tab-cuestionario-1">
                        <div id="tabs1">{% include 'hojaVidaBundle:cuestionarios:tab1.html.twig' %}</div>
                    </div>
                    <div id="tab-cuestionario-2">
                        <div id="tabs2">{% include 'hojaVidaBundle:cuestionarios:tab2.html.twig' %}</div>

                    </div>
                    <div id="tab-cuestionario-3">
                        <div id="tabs3">{% include 'hojaVidaBundle:cuestionarios:tab3.html.twig' %}</div>
                    </div>
                    <div id="tab-cuestionario-4">
                        <div id="tabs4">{% include 'hojaVidaBundle:cuestionarios:tab4.html.twig' %}</div>
                    </div>
                    <div id="tab-cuestionario-5">
                        {% include 'hojaVidaBundle:formularios:info_patrimonial.html.twig' %}
                        </div>    
                        <div id="tab-cuestionario-6">

                        </div>
                    </div>
                </div>
                <div class="panel_guardar">
                    <div id="titulo_save" class="titulo_save">Mantenimiento</div>
                    <div id="cargando" style="display:none;">
                        <div id="prog" style="margin: 0 5px 0 5px;"></div>
                        <div id="prog_per"></div>
                    </div>
                    <div id="boton-guardar" style="text-align: center;">
                        <input type="button" id="guardar_frm" rel="frm-datos-personales" class="button"value="Guardar">
                    </div>
                </div>
            </body>
        </html>


