 {% extends 'hojaVidaBundle:plantillas:index.html.twig' %}
 {% block scripts %}
        {{ parent() }}
<script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-1.9.1.js')}}"></script>
<script src="{{asset('web/bundles/hoja_vida/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>

<script type="text/javascript" src="{{asset('web/plugins/jValidate/jquery.validate.js')}}"></script>
<script src="{{asset('web/plugins/jquery_numeric/jquery.numeric.js')}}"></script>

<script>

    $(document).ready(function() {

        {% include 'hojaVidaBundle:js:util.html.twig' %}
        {% include 'hojaVidaBundle:js:frm_datos_personales.html.twig' %}
        {% include 'hojaVidaBundle:js:frm_datos_postulante.html.twig' %}
        {% include 'hojaVidaBundle:js:frm_datos_academicos.html.twig' %}
        {% include 'hojaVidaBundle:js:frm_exp_profesional.html.twig' %}
        {% include 'hojaVidaBundle:js:frm_info_patrimonial.html.twig' %}
        {% include 'hojaVidaBundle:js/conducta:procesos_judiciales.html.twig' %}
        {% include 'hojaVidaBundle:js/conducta:procesos_administrativos.html.twig' %}
        {% include 'hojaVidaBundle:js/conducta:procesos_PJudicial.html.twig' %}
        {% include 'hojaVidaBundle:js/conducta:procesos_MPublico.html.twig' %}
        {% include 'hojaVidaBundle:js:frm_mov_migratorio.html.twig' %}



                function cargando() {
                    $("#boton-guardar").css("display", "none");
                    $("#cargando").css("display", "block");
                    var val = 0;
                    var interval = setInterval(function() {
                        val++;
                        $('#prog').progressbar({value: val});
                        $("#prog_per").text(val + "%");
                        if (val === 100) {
                            clearInterval(interval);
                            $("#cargando").css("display", "none");
                            $("#boton-guardar").css("display", "block");
                        }
                    }, 25);
                }




                $("#guardar_frm").click(function() {
                    if ($("#idfoto").val() !== "") {
                        var foto_path = $("#idfoto").val();
                        var ext = foto_path.split(".");
                        var extension = ext[(ext.length - 1)];
                        if (extension == "jpg" || extension == "JPG") {
                            frm_como_postulante();
                        } else {
                            alert("Seleccione archivo del tipo jpg");
                        }
                    } else {
                        alert("Seleccione su foto");
                    }
                });


                function frm_como_postulante() {
                    var form = $("#frm-como-postulante").serialize() + "&id_cod=" + $("#id_cod").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosPostulante')}}",
                        data: form,
                        success: function(e) {
                            $("#id_pos").val(e);
                            $("#guardar_frm").attr("rel", "frm-datos-academicos");

                            frm_datos_personales();

                            $("#guardar_frm").button({disabled: true});

                        }
                    });
                }

                function frm_datos_personales() {
                    var form = $("#frm-datos-personales").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosPersonales')}}",
                        data: form,
                        success: function(e) {
                            frm_exp_profesional();
                        }

                    });
                }

                function frm_exp_profesional() {

                    var form = $("#frm-exp-profesional").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newExpProfesional')}}",
                        data: form,
                        success: function(e) {
                            frm_datos_academicos();



                        }

                    });
                }
                function frm_datos_academicos() {

                    var form = $("#frm-datos-academicos").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newDatosAcademicos')}}",
                        data: form,
                        success: function(e) {
                            frm_conducta();
                        }

                    });
                }
                function frm_conducta() {
                    var form = $("#frm-conducta").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_newConducta')}}",
                        data: form,
                        success: function(e) {
                            frm_info_jue_fis();

                        }

                    });

                }


                function frm_info_jue_fis() {
                    var form = $("#frm_info_jue_fis").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_infojuefis')}}",
                        data: form,
                        success: function(e) {
                            frm_direc_proc();

                        }
                    });
                }
                function frm_direc_proc() {
                    var form = $("#frm_direc_proc").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_direcproc')}}",
                        data: form,
                        success: function(e) {
                            frm_info_colegio();


                        }
                    });
                }
                function frm_info_colegio() {
                    var form = $("#frm_info_colegio").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_infocolegio')}}",
                        data: form,
                        success: function(e) {
                            frm_info_patrimonial();


                        }
                    });
                }
                function frm_info_patrimonial() {
                    var form = $("#frm_info_patrimonial").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_patrimonial')}}",
                        data: form,
                        success: function(e) {
                            frm_mov_migratorio();



                        }
                    });
                }
                function frm_mov_migratorio() {
                    var form = $("#frm_mov_migratorio").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_mov_migratorio')}}",
                        data: form,
                        success: function(e) {
                            frm_info_camara();


                        }
                    });
                }
                function frm_info_camara() {
                    var form = $("#frm_info_camara").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_camara')}}",
                        data: form,
                        success: function(e) {
                            frm_info_registro();

                        }
                    });
                }

                function frm_info_registro() {
                    var form = $("#frm_info_registro").serialize() + "&id_pos=" + $("#id_pos").val();
                    cargando();
                    $.ajax({
                        type: "POST",
                        url: "{{path('_info_registro')}}",
                        data: form,
                        success: function() {
                            $("#UploadPhoto").submit();
                        }
                    });
                }

                var num_infopat1 = ($("#tbody_infopat1 tr") - 1);
                $("#add_infopat1").click(function() {
                    num_infopat1++;
                    add_infopat1();
                    $(".menos").button();

                });
                $("#table_infopat1").delegate(".remove_infopat1", "click", function() {
                    if (num_infopat1 > 0) {
                        var row_position = ($(".remove_infopat1").index($(this)) + 1);
                        $("#tbody_infopat1 tr").eq(row_position).remove();
                        num_infopat1--;

                    }
                });

                function add_infopat1() {
                    var new_row = '<tr>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input class="remove_infopat1 menos" type="button" value="-"></td>';
                    new_row += '</tr>';

                    $("#tbody_infopat1").append(new_row);

                }



                var num_infopat2 = ($("#tbody_infopat2 tr") - 1);
                $("#add_infopat2").click(function() {
                    num_infopat2++;
                    add_infopat2();
                    $(".menos").button();

                });
                $("#table_infopat2").delegate(".remove_infopat2", "click", function() {
                    if (num_infopat2 > 0) {
                        var row_position = ($(".remove_infopat2").index($(this)) + 1);
                        $("#tbody_infopat2 tr").eq(row_position).remove();
                        num_infopat2--;

                    }
                });

                function add_infopat2() {
                    var new_row = '<tr>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input type="text" class="row-edit"></td>';
                    new_row += '<td><input class="remove_infopat1 menos" type="button" value="-"></td>';
                    new_row += '</tr>';

                    $("#tbody_infopat2").append(new_row);
                }
            });


    </script>
{% endblock scripts %}            
{% block titulo %}
    <div class="single-theme">REGISTRO HOJA DE VIDA</div>
{% endblock titulo %}
            {% block cuerpo %}    
    <input type="hidden" id="id_cod" value="{{dni}}">
    <input type="hidden" id="id_pos">

    <div id="tab-cuestionario">
        <ul>
            <li><a href="#tab-cuestionario-1">RUBRO 1</a></li>
            <li><a href="#tab-cuestionario-2">RUBRO 2</a></li>
            <li><a href="#tab-cuestionario-3">RUBRO 3</a></li>
            <li><a href="#tab-cuestionario-4">RUBRO 4</a></li>
            <!--<li><a href="#tab-cuestionario-5">RUBRO 5</a></li>-->
        </ul>
        <div id="tab-cuestionario-1">
            <div id="tabs1">{% include 'hojaVidaBundle:cuestionarios:tab1.html.twig' %}</div>
        </div>
        <div id="tab-cuestionario-2">
            <div id="tabs2">{% include 'hojaVidaBundle:cuestionarios:tab2.html.twig' %}</div>

        </div>
        <div id="tab-cuestionario-3">
            <div id="tabs3">{% include 'hojaVidaBundle:cuestionarios:tab3.html.twig' %}</div>
        </div>
        <div id="tab-cuestionario-4">
            <div id="tabs4">{% include 'hojaVidaBundle:cuestionarios:tab4.html.twig' %}</div>
        </div>
        <!--<div id="tab-cuestionario-5">
                        {#% include 'hojaVidaBundle:formularios:info_patrimonial.html.twig' %#}
            </div>    

        </div>-->
        <div class="panel_guardar">
            <div id="titulo_save" class="titulo_save">Mantenimiento</div>
            <div id="cargando" style="display:none;">
                <div id="prog" style="margin: 0 5px 0 5px;"></div>
                <div id="prog_per"></div>
            </div>
            <div id="boton-guardar" style="text-align: center;">
                <input type="button" id="guardar_frm" rel="frm-datos-personales" class="button"value="Guardar">
            </div>
        </div>

{% endblock cuerpo %}   


