{% extends 'hojaVidaBundle:plantillas:index.html.twig' %}

    {% block scripts %}
            {{ parent() }}
    <link href="{{asset('web/bundles/hoja_vida/css/style.css')}}" rel="stylesheet">
    {% endblock%}


    {% block titulo %}
        <div>Actulizando</div>
    {% endblock titulo %}

        {% block cuerpo %}

            {{programador}}
        
        
        
<div id="tabs1-1">
    <div class="area-registro">
        <div class="tab-title">DATOS PERSONALES</div>

        <form id="frm-datos-personales" enctype="multipart/form-data">
            <table width="65%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td width="37%"><label class="labelText">Nombres:</label></td>
                    <td>
                        <input type="text" disabled id="txt_nombres" class="textbox" value="{#{datos_personales.nombre}#}">
                        <input type="hidden" name="txt_nombres" value="{#{datos_personales.nombre}#}">

                    </td>
                </tr>
                <tr>
                    <td><label class="labelText">Apellidos:</label></td>
                    <td>
                        <input type="text" disabled id="txt_apellidos" class="textbox" value="{#{datos_personales.apellido}#}">
                        <input type="hidden" name="txt_apellidos" value="{#{datos_personales.apellido}#}">
                    
                    </td>
                </tr>
                <tr>
                    <td><label class="labelText">Lugar de nacimiento:</label></td>
                    <td><input type="text" name="txt_lugarNac" id="txt_lugarNac" class="textbox"></td>
                </tr>
                <tr>
                    <td><label class="labelText">Fecha de Nacimiento:</label></td>
                    <td><input type="text" name="txt_fechaNac" id="txt_fechaNac" class="datepicker textbox txt_fechaNac"></td>
                </tr>
                <!--<tr>
                    <td><label class="labelText">Foto:</label></td>
                    <td><input type="file" name="file_foto" id="file_foto"></td>
                </tr>-->

                <tr>
                    <td><label class="labelText">Edad (a la fecha de Entrevista):</label></td>
                    <td><b><label id="lbledad">0</label></b>
                        <input type="hidden" name="txt_edad" class="txt_edad" id="txt_edad" size="5" value="0"></td>
                </tr>
                <tr>
                    <td><label class="labelText">DNI:</label></td>
                    <td>
                        <input type="text" disabled id="txt_dni"  class="textbox numeric" value="{#{datos_personales.dni}#}">
                        <input type="hidden" name="txt_dni" value="{#{datos_personales.dni}#}">
                    
                    </td>
                </tr>
                <tr>
                    <td><label class="labelText">Persona con discapacidad:</label></td>
                    <td>
                        <div id="rad-disc">
                            <input type="radio" id="rad-disc1" class="rad_discapacidad" name="rad_discapacidad" value="SI" /><label for="rad-disc1">SI</label>
                            <input type="radio" id="rad-disc2" class="rad_discapacidad" name="rad_discapacidad" value="NO" checked="checked" /><label for="rad-disc2">NO</label>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td colspan="2" >
                        <div class="certi_discapacidad" style="display:none;">
                            <label class="labelText" >Certificaci贸n de Discapacidad/Resoluci贸n CONADIS:</label>
                            <input type="text" name="txt_certDiscapacidad" class="textbox txt_certDiscapacidad" >
                        </div>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
        
        
        
        
        
        
        

        {% endblock%}




<<<<<<< HEAD
=======
{% block titulo %}
    <div>CONDUCTA</div>
    {% endblock titulo %}
{% block cuerpo %}   
    {{programador}}
    
    <div id="tabs1-1">
    <div class="area-registro">
        <div class="tab-title">DATOS PERSONALES</div>

        <form id="frm-datos-personales" enctype="multipart/form-data">
            <table width="65%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td width="37%"><label class="labelText">Nombres:</label></td>
                    <td>
                        <input type="text" disabled id="txt_nombres" class="textbox" value="{{datos_personales.nombre}}">
                        <input type="hidden" name="txt_nombres" value="{{datos_personales.nombre}}">

                    </td>
                </tr>
                <tr>
                    <td><label class="labelText">Apellidos:</label></td>
                    <td>
                        <input type="text" disabled id="txt_apellidos" class="textbox" value="{{datos_personales.apellido}}">
                        <input type="hidden" name="txt_apellidos" value="{{datos_personales.apellido}}">
                    
                    </td>
                </tr>
                <tr>
                    <td><label class="labelText">Lugar de nacimiento:</label></td>
                    <td><input type="text" name="txt_lugarNac" id="txt_lugarNac" class="textbox"></td>
                </tr>
                <tr>
                    <td><label class="labelText">Fecha de Nacimiento:</label></td>
                    <td><input type="text" name="txt_fechaNac" id="txt_fechaNac" class="datepicker textbox txt_fechaNac"></td>
                </tr>
                <!--<tr>
                    <td><label class="labelText">Foto:</label></td>
                    <td><input type="file" name="file_foto" id="file_foto"></td>
                </tr>-->

                <tr>
                    <td><label class="labelText">Edad (a la fecha de Entrevista):</label></td>
                    <td><b><label id="lbledad">0</label></b>
                        <input type="hidden" name="txt_edad" class="txt_edad" id="txt_edad" size="5" value="0"></td>
                </tr>
                <tr>
                    <td><label class="labelText">DNI:</label></td>
                    <td>
                        <input type="text" disabled id="txt_dni"  class="textbox numeric" value="{{datos_personales.dni}}">
                        <input type="hidden" name="txt_dni" value="{{datos_personales.dni}}">
                    
                    </td>
                </tr>
                <tr>
                    <td><label class="labelText">Persona con discapacidad:</label></td>
                    <td>
                        <div id="rad-disc">
                            <input type="radio" id="rad-disc1" class="rad_discapacidad" name="rad_discapacidad" value="SI" /><label for="rad-disc1">SI</label>
                            <input type="radio" id="rad-disc2" class="rad_discapacidad" name="rad_discapacidad" value="NO" checked="checked" /><label for="rad-disc2">NO</label>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td colspan="2" >
                        <div class="certi_discapacidad" style="display:none;">
                            <label class="labelText" >Certificaci贸n de Discapacidad/Resoluci贸n CONADIS:</label>
                            <input type="text" name="txt_certDiscapacidad" class="textbox txt_certDiscapacidad" >
                        </div>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
    
{% endblock%}   
    
>>>>>>> e01aab2c9694c0dee4abf465d106f71ebc8462b2
