<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page  page-size="a4" font-type="DejaVuSans">
        <placeholders>
            <header>
                <div width="100%" font-size="11px" height="37px" color="black"  text-align="right" font-style="bold" >
                    Dirección de Selección y Nombramiento
                    <hr></hr>
                </div>
                <div height="20px">
                    <page-info offset="1" format="page %s for %s" />
                </div>
            </header>
            <footer>
                <div height="21px" text-align="right" padding-top="30px" padding-right="30px" border.type="bottom" border.size="1px">
                    <page-info offset="0" format="Página %s de %s" />
                </div>
            </footer>
        </placeholders>

        <span id="labels" color="#000000" font-type="DejaVuSans" font-size="13px">
            <stylesheet>
                <complex-attribute name="background" color="#ffffff" />
            </stylesheet>
        </span>  
        <div>
            <div  width="530px"  float="left">
                <div font-size="20px" color="black"  text-align="center" font-style="bold" >
                    Consejo Nacional de la Magistratura
                </div>
                <div font-size="12px" color="#000000"  text-align="center" >
                    Dirección de Selección y Nombramiento
                </div>
                <div margin-top="12px" font-size="14px" color="black"  text-align="center" font-style="bold" >
                    Convocatoria N° 001-2013-SN/CNM
                </div> 
                <div text-decoration="underline" height="55px" font-size="20px" color="black"  text-align="center" font-style="bold" >
                    HOJA DE VIDA
                </div>
            </div>   
            <div width="100px" float="left"><img src="web/fotos/{{DatosPersonales.foto}}" height="125px" width="100px"/></div>   
        </div>

        <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
            I.&nbsp;DATOS PERSONALES
        </div>
        <br></br><br></br>
        <span extends="labels">1. Nombre:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">
            &nbsp;{{DatosPersonales.nombres}},&nbsp;{{DatosPersonales.apellidos}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">2. Lugar y fecha de Nacimiento:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.lugarNac}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.fechaNac}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">3. Edad (a la fecha de entrevista):</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.edad}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">4. Persona con Discapacidad:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.discapacidad}}&nbsp;</span>
        <br></br><br></br>
        {% if DatosPersonales.discapacidad=="SI"%}
        <span extends="labels">5. Certificación de Discapacidad/Resolución CONADIS:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.certDiscapacidad}}&nbsp;</span>
        <br></br><br></br><br></br>
        {% endif %}
        <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
            II.&nbsp;DATOS COMO POSTULANTE
        </div>
        <br></br><br></br>
        <span extends="labels">1. Cargo al que postula:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.cargoAPostular}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">2. Condición:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.condicion}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">3. Curso en la AMAG:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{% if DatosPostulante.tipoCurso==1 %} PROFA  {%else%}  Ascenso {%endif %}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;NOTA: {{DatosPostulante.nota}}  &nbsp;</span>
        <br></br><br></br>

        <span extends="labels">4. Pre-Promedio:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.prePromedio}}&nbsp;</span>
        <span extends="labels">Orden de Mérito:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.ordenMerito}}&nbsp;</span>
        <span extends="labels">Plazas Vacantes:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.plazasVacantes}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">5. Examen de Conocimientos:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.examenConocimientos}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">6. Postulación en Convocatorias anteriores:</span>&nbsp;&nbsp;
        <br></br><br></br>
        <table>
            <tr background.color="#cccccc" text-align="center" font-style="bold">
                <td height="25px">CONVOCATORIA</td>
                <td>PLAZA</td>
                <td>ETAPA</td>             
            </tr>
             {% for conv in ConvocatoriasAnteriores %}
            <tr text-align="center">
                <td padding="10px">{{conv.convocatoria}}</td>
                <td padding="10px">{{conv.plaza}}</td>
                <td padding="10px">{{conv.etapa}}</td>

            </tr>
             {% endfor %}

        </table>
        <br></br><br></br><br></br>
        <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
            III.&nbsp;DATOS ACADÉMICOS
        </div>
        <br></br><br></br>
        <span extends="labels">1. Universidad de Procedencia:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;{{daUniv}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">2. Colegio Profesional y fecha de incorporación:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;{{daCole}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{DatosAcademicos.fechaIncorporacion}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">3. Doctorado en Derecho:</span>
        <br></br><br></br>
        {%for doc in DocDerecho%}
        <table font-size="13px">
            <tr >
                <td width="100px" padding="10px" font-style="bold">&nbsp;Universidad:</td>
                <td padding="10px">{{doc.Universidad}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Nivel</td>
                <td padding="10px">{{doc.Nivel}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Mensión</td>
                <td padding="10px">{{doc.Mension}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Año</td>
                <td padding="10px">{{doc.Anio}}</td>
            </tr>

        </table>
        <br></br><br></br>
        {% endfor %}
        <span extends="labels">4. Maestría en Derecho:</span>
        <br></br><br></br>
        {%for mae in MaeDerecho%}
        <table font-size="13px">
            <tr>
                <td width="100px" padding="10px" font-style="bold">&nbsp;Universidad:</td>
                <td padding="10px">{{mae.Universidad}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Nivel</td>
                <td padding="10px">{{mae.Nivel}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Mensión</td>
                <td padding="10px">{{mae.Mension}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Año</td>
                <td padding="10px">{{mae.Anio}}</td>
            </tr>
        </table>
        <br></br><br></br>
        {% endfor %}
        <span extends="labels">5. Doctorado / Maestría en otras Disciplinas:</span>
        <br></br><br></br>
        {%for otr in OtrasDisciplinas%}
        <table  font-size="13px">
            <tr>
                <td width="100px" padding="10px" font-style="bold">&nbsp;Universidad:</td>
                <td padding="10px">{{otr.Universidad}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Nivel</td>
                <td padding="10px">{{otr.Nivel}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Mensión</td>
                <td padding="10px">{{otr.Mension}}</td>
            </tr>
            <tr>
                <td width="100px" padding="10px" font-style="bold">Año</td>
                <td padding="10px">{{otr.Anio}}</td>
            </tr>
        </table>
        <br></br><br></br>
        {% endfor %}
        <span extends="labels">6. Título Profesional en Otras Disciplinas:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;&nbsp;{{DatosAcademicos.tituloOtros}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">7. Tesis para obtener el Título Profesional:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;&nbsp;{{DatosAcademicos.tesisTitular}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">8. Méritos Universitarios:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;{{MeritosUniv.Puesto}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{MeritosUniv.Universidad}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{MeritosUniv.Anio}}&nbsp;</span>
        <br></br><br></br>
        <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
            IV.&nbsp;EXPERIENCIA PROFESIONAL
        </div>
        <br></br><br></br>
        <span extends="labels">1. Documentos Calificados de DESEMPEÑO PROFESIONAL:</span>
        <br></br><br></br>
        <table>
            <tr text-align="center" background.color="#cccccc" font-style="bold">
                <td padding="10px" width="30px" text-align="center">N°</td>
                <td padding="10px" width="40px" text-align="center">N° Exp.</td>
                <td padding="10px">Demandante/<br></br>Denunciante/<br></br>Agraviado/<br></br>Solicitante</td>
                <td padding="10px">Demandado/<br></br>Denunciado/<br></br>Agresor/<br></br>Entidad</td>
                <td padding="10px" text-align="center">Materia</td>
                <td padding="10px">Especialidad</td>
                <td padding="10px">1° <br></br>Calificación</td>
                <td padding="10px">2°<br></br>Calificación<br></br>(R.R)</td>
            </tr>
            {% for docdes in DocDesProfesional%}
            <tr>
                <td text-align="center" padding="10px">{{docdes.Num}}</td>
                <td text-align="center" padding="10px">{{docdes.NumExp}}</td>
                <td padding="10px">{{docdes.Ddas}}</td>
                <td padding="10px">{{docdes.Ddae}}</td>
                <td padding="10px">{{docdes.Materia}}</td>
                <td padding="10px">{{docdes.Especialidad}}</td>
                <td padding="10px" text-align="center">{{docdes.Calificacion1}}</td>
                <td padding="10px" text-align="center">{{docdes.Calificacion2}}</td>
            </tr>
            {% endfor%}
        </table>
        <br></br><br></br>
        <span extends="labels">2. Magistrado Ratificado:</span>

        <b>
        {% if MagistradoRatificado.respuesta1==0%}NO,
        {% elseif MagistradoRatificado.respuesta1==1%}SI,
        {% elseif MagistradoRatificado.respuesta1==2%}Aun no ha sido objeto de proceso de ratificación,
        {% elseif MagistradoRatificado.respuesta1==3%}En convocatoria,
        {% endif %} </b>&nbsp;{{MagistradoRatificado.respuesta2}}&nbsp;
            <br></br><br></br>
        {% if MagistradoRatificado.respuesta1 ==0 or MagistradoRatificado.respuesta1 ==1%}
            <b> Resolución N°</b> <span font-size="17px" border.size="1px">&nbsp;{{MagistradoRatificado.resolucion}}</span>
            <b> de fecha </b><span font-size="17px" border.size="1px">&nbsp;{{MagistradoRatificado.fechaRes}}</span>
        {% endif %}

            <span font-size="17px" border.size="1px">{{MagistradoRatificado.respuesta3}}</span>
            <br></br><br></br>
            <span extends="labels">3. Calidad de sus Decisiones Judiciales y Fiscales<br></br>
                (En caso de Magistrados Ratificados o No Ratificados):</span>
            <br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">N°</td>
                    <td padding="10px" width="30px" text-align="center">N° Exp.</td>
                    <td padding="10px">Tipo de <br></br>Resolución</td>
                    <td padding="10px">Fecha<br></br> de Res.</td>
                    <td padding="10px">Demandante/<br></br>Denunciante/<br></br>Agraviado</td>
                    <td padding="10px">Demandado/<br></br>Denunciado/<br></br>Agresor</td>
                    <td padding="10px">Materia</td>
                    <td padding="10px">Especialidad</td>
                    <td padding="10px">Nota</td>
                </tr>
            {% for cal in CalJudFis%}
                <tr>
                    <td text-align="center" padding="10px">{{cal.Num}}</td>
                    <td text-align="center" padding="10px">{{cal.NumExp}}</td>
                    <td padding="10px">{{cal.TipResolucion}}</td>
                    <td padding="10px">{{cal.FechaRes}}</td>
                    <td padding="10px">{{cal.Ddagraviado}}</td>
                    <td padding="10px">{{cal.Ddagresor}}</td>
                    <td padding="10px">{{cal.Materia}}</td>
                    <td padding="10px">{{cal.Especialidad}}</td>
                    <td padding="10px" text-align="center">{{cal.Nota}}</td>
                </tr>
           {% endfor%}
            </table>
            <br></br><br></br>
            <span extends="labels">4. SITUACIÓN LABORAL ACTUAL:</span>
            <br></br><br></br>
            <div border.color="black" padding="10px">{{SitLaboral}}</div>
            <br></br><br></br>
            <span extends="labels">(Tres últimas)</span>
            <br></br><br></br>
                {% for detsit in DetSituacionLaboral%}
            <table>
                <tr>
                    <td width="150px" padding="10px">Centro de Trabajo:</td>
                    <td padding="10px">{{detsit.CentroTrabajo}}</td>
                </tr>
                <tr>
                    <td padding="10px">Cargo:</td>
                    <td padding="10px">{{detsit.Cargo}}</td>
                </tr>
                <tr>
                    <td padding="10px">Periodo:</td>
                    <td padding="10px">{{detsit.Periodo}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
                {% endfor %}
            <span extends="labels">5. DOCENCIA UNIVERSITARIA</span>
            <br></br><br></br>
                {% for docuni in DocenciaUniversitaria%}
            <table>
                <tr>
                    <td width="150px" padding="10px">Universidad:</td>
                    <td padding="10px">{{docuni.Universidad}}</td>
                </tr>
                <tr>
                    <td padding="10px">Facultad:</td>
                    <td padding="10px">{{docuni.Facultad}}</td>
                </tr>
                <tr>
                    <td padding="10px">Condición:</td>
                    <td padding="10px">{{docuni.Condicion}}</td>
                </tr>
                <tr>
                    <td padding="10px">Categoria:</td>
                    <td padding="10px">{{docuni.Categoria}}</td>
                </tr>
                <tr>
                    <td padding="10px">Cursos:</td>
                    <td padding="10px">{{docuni.Cursos}}</td>
                </tr>
                <tr>
                    <td padding="10px">Periodo:</td>
                    <td padding="10px">{{docuni.Periodo}}</td>
                </tr>
            </table> <br></br><br></br><br></br>
                {% endfor %}

            <span extends="labels">6. PUBLICACIONES:</span><br></br><br></br><br></br>
            <span extends="labels">6.1. Libros o Textos Universitarios</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.librosTextosUniv}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.2. Investigaciones Jurídicas Doctrinarias o de Campo</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.invJuridicas}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.3. Ensayos en materia Jurídica</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.ensayosJuridico}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.4. Artículos en materia Jurídica</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.articulosJuridicos}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.5. Artículos en materia No Jurídica</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.articulosNoJuridicos}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">7. Producción Jurisdiccional o Fiscal:&nbsp;</span><b>{{ProdJurFiscal.Respuesta}}</b><br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{ProdJurFiscal.DetRespuesta}}</div>
            <br></br><br></br><br></br>
            <span extends="labels"> 8. Licencias Otorgadas (de los últimos cinco años)</span>
            <br></br><br></br><br></br>
            <table>
                <tr >
                    <td padding="10px" width="50px" text-align="center">AÑO</td>
                    <td padding="10px" text-align="center">MOTIVO</td>
                    <td padding="10px" width="50px" text-align="center">DÍAS</td>
                </tr>
                {%for lic in LicenciasOtorgadas%}
                <tr >
                    <td text-align="center" padding="10px">{{lic.Anio}}</td>
                    <td padding="10px">{{lic.Motivo}}</td>
                    <td padding="10px" text-align="center">{{lic.Dias}}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td padding="10px" colspan="2"><div text-align="right">TOTAL:</div></td>
                    <td padding="10px" text-align="center">{{SumDias}}</td>
                </tr>
            </table>          
            <br></br><br></br><br></br>

            <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
                V. &nbsp;CONDUCTA
            </div>      
            <br></br><br></br><br></br>
            <span extends="labels">1. ANTECEDENTES PENALES, JUDICIALES Y POLICIALES</span>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td width="140px" padding="10px">Antecedentes Penales</td>
                    <td padding="10px">{{anteA}}</td>
                </tr>
                <tr>
                    <td padding="10px">Antecedente Judiciales</td>
                    <td padding="10px">{{anteB}}</td>
                </tr>

                <tr>
                    <td padding="10px">Antecedente Policiales</td>
                    <td padding="10px">{{anteC}}</td>
                </tr>

            </table>
            <br></br><br></br><br></br>
            <span extends="labels">2. PROCESOS JUDICIALES</span>
            <br></br><br></br><br></br>
            <span extends="labels">PROCESOS JUDICIALES CIVILES, PENALES, DE FAMILIA, LABORALES COMO DEMANDANTE / DENUNCIANTE</span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Órgano<br></br>Jurisdiccional</td>
                    <td padding="10px">Demandado/<br></br>Denunciado</td>
                    <td padding="10px">Materia</td>
                    <td padding="10px">Estado</td>
                </tr>
                {%for item in dpostul_rep%}
                <tr>
                    <td padding="10px">{{item.expediente}}</td>
                    <td padding="10px">{{item.organo}}</td>
                    <td padding="10px">{{item.demandadoagresor}}</td>
                    <td padding="10px">{{item.materia}}</td>
                    <td padding="10px">{{item.estado}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">COMO DEMANDADO / DENUNCIADO</span>
            <br></br><br></br><br></br>

            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Órgano<br></br>Jurisdiccional</td>
                    <td padding="10px">Demandado/<br></br>Denunciado</td>
                    <td padding="10px">Materia</td>
                    <td padding="10px">Estado</td>
                </tr>
                {% for item in dpostul_repB%}
                <tr>
                    <td padding="10px">{{item.expediente}}</td>
                    <td padding="10px">{{item.organo}}</td>
                    <td padding="10px">{{item.demandadoagresor}}</td>
                    <td padding="10px">{{item.materia}}</td>
                    <td padding="10px">{{item.estado}}</td>
                </tr>
                {%endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">COMO AGRAVIADO</span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Órgano<br></br>Jurisdiccional</td>
                    <td padding="10px">Agresor</td>
                    <td padding="10px">Materia</td>
                    <td padding="10px">Estado</td>
                </tr>
                {%for item in dpostul_repC%}
                <tr>
                    <td padding="10px">{{item.expediente}}</td>
                    <td padding="10px">{{item.organo}}</td>
                    <td padding="10px">{{item.demandadoagresor}}</td>
                    <td padding="10px">{{item.materia}}</td>
                    <td padding="10px">{{item.estado}}</td>
                </tr>
                {% endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                3. PROCEDIMIENTOS ADMINISTRATIVOS EN LA ADMINISTRACIÓN PÚBLICA EN GENERAL
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Institución</td>
                    <td padding="10px">Resolución</td>
                    <td padding="10px">Sanción</td>
                    <td padding="10px">Estado</td>
                </tr>
                {% for item in dpostul_repD%}
                <tr>
                    <td padding="10px">{{item.idinstitucion}}</td>
                    <td padding="10px">{{item.resolucion}}</td>
                    <td padding="10px">{{item.sancion}}</td>
                    <td padding="10px">{{item.estado}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                4. SANCIONES ADMINISTRATIVAS EN LA ADMINISTRACIÓN PÚBLICA GENERAL
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Institución</td>
                    <td padding="10px">Resolución</td>
                    <td padding="10px">Sanción</td>
                </tr>
                    {% for item in dpostul_repE%}
                <tr>
                    <td padding="10px">{{item.idinstitucion}}</td>
                    <td padding="10px">{{item.resolucion}}</td>
                    <td padding="10px">{{item.sancion}}</td>
                </tr>
                    {% endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                5. MEDIDAS DISCIPLINARIAS EN EL PODER JUDICIAL Y MINISTERIO PÚBLICO
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Institución</td>
                    <td padding="10px">Sanción</td>
                    <td padding="10px">Expediente, Resolución y Motivo</td>
                </tr>
                {% for item in dpostul_repF%}
                <tr>
                    <td padding="10px">{{item.idinstitucion}}</td>
                    <td padding="10px">{{item.sancion}}</td>
                    <td padding="10px">{{item.resolucion}}</td>
                </tr>
                {% endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                6. EN EL PODER JUDICIAL
            </span>
            <br></br><br></br><br></br>
            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;EN TRÁMITE&nbsp;</span>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>
                </tr>
                {% for item in dpostul_repFA%}
                <tr>
                    <td padding="10px">{{item.expediente}}</td>
                    <td padding="10px">{{item.motivo}}</td>
                    <td padding="10px">{{item.estadoproc}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. QUEJAS, VISITAS E INVESTIGACIONES ANTE LA OCMA / ODECMA
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Quejas, Visitas e<br></br>Investigaciones</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>
                </tr>
                {% for item in dpostul_repFB %}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Quejas}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>

                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                3. INVESTIGACIONES PRELIMINARES
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>
                </tr>
                {% for item in dpostul_repFC%}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>

            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;CONCLUIDAS&nbsp;</span>
            <br></br><br></br><br></br>

            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Institución</td>
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFD %}
                <tr>
                    <td padding="10px">{{item.IdInstitucion}}</td>
                    <td padding="10px">{{item.Expediente}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. QUEJAS, VISITAS E INVESTIGACIONES ANTE LA OCMA / ODECMA
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Quejas, Visitas e <br></br>Investigaciones</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFE%}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Quejas}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                3. INVESTIGACIONES PRELIMINARES
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFF%}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                7. EN EL MINISTERIO PÚBLICO
            </span>
            <br></br><br></br><br></br>
            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;EN TRÁMITE&nbsp;</span>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFA2%}
                <tr>
                    <td padding="10px">{{item.Expediente}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>                
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Denuncia y/o Queja</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFB2%}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Quejas}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>                
                {% endfor %}
            </table>

            <br></br><br></br><br></br>
            <span extends="labels">
                3. INVESTIGACIONES PRELIMINARES:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {%for item in dpostul_repFC2%}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>  
                </tr>     
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;CONCLUIDAS&nbsp;</span>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS EN EL MINISTERIO PÚBLICO:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" text-align="center">Institución</td>
                    <td padding="10px">Expediente</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFD2 %}
                <tr>
                    <td padding="10px">{{item.IdInstitucion}}</td>
                    <td padding="10px">{{item.Expediente}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="30px" text-align="center">Nº</td>
                    <td padding="10px">Quejas, Visitas e <br></br>Investigaciones</td>
                    <td padding="10px">Motivo</td>
                    <td padding="10px">Estado</td>                    
                </tr>
                {% for item in dpostul_repFE2%}
                <tr>
                    <td padding="10px" text-align="center">{{item.Num}}</td>
                    <td padding="10px">{{item.Quejas}}</td>
                    <td padding="10px">{{item.Motivo}}</td>
                    <td padding="10px">{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                VI.&nbsp;INFORMACIÓN DE LA OFICINA DE REGISTRO DE JUECES Y FISCALES DEL CNM
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{info1}}</div>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                VII.&nbsp;INFORMACIÓN DE LA DIRECCIÓN DE PROCESOS DISCIPLINARIOS DEL CNM
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{info2}}</div>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                VIII.&nbsp;INFORMACIÓN DEL COLEGIO DE ABOGADOS
            </div>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. DENUNCIAS, QUEJAS, PROCESOS DISCIPLINARIOS Y SANCIONES
            </span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{info3}}</div>
            <br></br><br></br><br></br>

            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                X. INFORMACIÓN PATRIMONIAL (ECONÓMICA E INMOBILIARIA)
            </div>

            <br></br><br></br><br></br>
            <span extends="labels">
                1. Cuadro de Declaraciones Juradas de Bienes y Rentas
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="3" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">INGRESOS</td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="40px">Año</td>
                    <td padding="10px">Descripción</td>
                    <td padding="10px" width="45px">Valor</td>                    
                </tr>
                {% for item in Ingresos1%}
                <tr>
                    <td text-align="center" padding="10px">{{item.anio}}</td>
                    <td padding="10px">{{item.descripcion}}</td>
                    <td padding="10px" text-align="center">{{item.valor}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td padding="10px" colspan="2" text-align="right">TOTAL:</td>
                    <td padding="10px" text-align="center">{{sum1}}</td>
                </tr>
            </table>

            <br></br><br></br><br></br>

            <table>
                <tr>
                    <td colspan="2" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">OTROS INGRESOS</td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" width="40px">Ingresos del declarante y de la sociedad de gananciales</td>
                    <td padding="10px" width="45px">Valor</td>                    
                </tr>
                {% for item in otrosingresos%}
                <tr>
                    <td padding="10px">{{item.Descripcion}}</td>
                    <td padding="10px" width="40px" text-align="center">{{item.Monto}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td padding="10px" text-align="right">TOTAL:</td>
                    <td padding="10px" text-align="center">{{sum2}}</td>
                </tr>
            </table>

            <br></br><br></br><br></br>
            <span extends="labels">
                2. Cuadro de su Patrimonio Inmobiliario
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="4" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">
                        Bienes inmuebles: 
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" >Tipo de Bien</td>
                    <td padding="10px">Ubicación</td>
                    <td padding="10px">Fecha de Adquisición</td>
                    <td padding="10px">Valor de <br></br> Autovalúo S/.</td>
                </tr>
                {% for item in dpostul%}
                <tr>
                    <td padding="10px">{{item.TipoBien}}</td>
                    <td padding="10px">{{item.Ubicacion}}</td>
                    <td padding="10px" text-align="center">{{item.Fecha}}</td>
                    <td padding="10px" text-align="center">{{item.Monto}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" padding="10px" text-align="right">TOTAL:</td>
                    <td padding="10px" text-align="center">{{sum3}}</td>
                </tr>
            </table>

            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="4" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">
                        Bienes muebles: 
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" >Tipo de Bien</td>
                    <td padding="10px">Ubicación</td>
                    <td padding="10px">Fecha de Adquisición</td>
                    <td padding="10px">Valor de <br></br> Autovalúo S/.</td>
                </tr>
                {% for item in dpo%}
                <tr>
                    <td padding="10px">{{item.TipoBien}}</td>
                    <td padding="10px">{{item.Ubicacion}}</td>
                    <td padding="10px" text-align="center">{{item.Fecha}}</td>
                    <td padding="10px" text-align="center">{{item.Monto}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" padding="10px" text-align="right">TOTAL:</td>
                    <td padding="10px" text-align="center">{{sum4}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="2" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">
                        Otros Bienes: 
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Detallar</td>
                    <td padding="10px" width="40px">Valor</td>
                </tr>
                {% for item in dpatri%}
                <tr>
                    <td padding="10px">{{item.Descripcion}}</td>
                    <td padding="10px" text-align="center">{{item.Valor}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td padding="10px" text-align="right">TOTAL:</td>
                    <td padding="10px" text-align="center">{{sum5}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="3" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">
                        Sistema Financiero
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Clase</td>
                    <td padding="10px">Entidad o Tercero</td>
                    <td padding="10px">Monto S/.</td>
                </tr>

                {% for item in Financi%}
                <tr>
                    <td padding="10px">{{item.Clase}}</td>
                    <td padding="10px">{{item.Entidad}}</td>
                    <td padding="10px" text-align="center">{{item.Valor}}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" padding="10px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum6}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="3" padding="10px" text-align="center" background.color="#cccccc" font-style="bold">
                        Acreencias y Obligaciones a su cargo
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px" >Naturaleza de la deuda</td>
                    <td padding="10px">Entidad o Tercero</td>
                    <td padding="10px">Monto S/.</td>
                </tr>
                {%for item in Acre_array%}
                <tr>
                    <td padding="10px">{{item.Naturaleza}}</td>
                    <td padding="10px">{{item.Entidad}}</td>
                    <td padding="10px" text-align="center">{{item.Valor}}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" padding="10px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum7}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XI. MOVIMIENTO MIGRATORIO
            </div>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td padding="10px">Movimiento</td>
                    <td padding="10px">Fecha</td>
                    <td padding="10px">Destino / Procedencia</td>
                </tr>
                {% for item in dataMovMig%}
                <tr>
                    <td text-align="center" padding="10px">{{item.Tipo}}</td>
                    <td text-align="center" padding="10px">{{item.Fecha}}</td>
                    <td padding="10px">{{item.DestinoProcedencia}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XII.INFORMACIÓN DE LA CÁMARA DE COMERCIO, INFOCORP Y SBS
            </div>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td text-align="center" width="120px" padding="10px">Cámara de Comercio</td>
                    <td padding="10px">{{info21}}</td>
                </tr>
                <tr>
                    <td text-align="center" padding="10px">Infocorp</td>
                    <td padding="10px">{{info22}}</td>
                </tr>
                <tr>
                    <td text-align="center" padding="10px">SBS</td>
                    <td padding="10px">{{info23}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XIII. INFORMACIÓN DEL REGISTRO DE DEUDORES ALIMENTARIOS MOROSOS - REDAM
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{rubro4.DeudoresAlimentarios}}</div>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XIV. INFORMACIÓN COMPLEMENTARIA
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{rubro4.Complementaria}}</div>
        </dynamic-page>
    </pdf>