<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page  page-size="a4" font-type="DejaVuSans">
        <placeholders>
            <header>
                <div width="100%" font-size="11px" height="37px" color="black"  text-align="right" font-style="bold" >
                    Dirección de Selección y Nombramiento
                    <hr></hr>
                </div>
            </header>
        </placeholders>

        <span id="labels" color="#000000" font-type="DejaVuSans" font-size="13px">
            <stylesheet>
                <complex-attribute name="background" color="#ffffff" />
            </stylesheet>
        </span>  
        <div font-size="20px" color="black"  text-align="center" font-style="bold" >
            Consejo Nacional de la Magistratura
        </div>
        <div font-size="12px" color="#000000"  text-align="center" >
            Dirección de Selección y Nombramiento
        </div>

        <div margin-top="12px" width="100%" font-size="14px" color="black"  text-align="center" font-style="bold" >
            Convocatoria N° 001-2013-SN/CNM
        </div>    

        <div text-decoration="underline" height="55px" width="100%" font-size="20px" color="black"  text-align="center" font-style="bold" >
           HOJA DE VIDA
        </div>
        <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
            I.&nbsp;DATOS PERSONALES
        </div>
        <br></br><br></br>
        <span extends="labels">1. Nombre:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">
            &nbsp;{{DatosPersonales.nombres}},&nbsp;{{DatosPersonales.apellidos}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">2. Lugar y fecha de Nacimiento:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.lugarNac}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.fechaNac}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">3. Edad (a la fecha de entrevista):</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.edad}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">4. Persona con Discapacidad:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.discapacidad}}&nbsp;</span>
        <br></br><br></br>
        {% if DatosPersonales.discapacidad=="SI"%}
        <span extends="labels">5. Certificación de Discapacidad/Resolución CONADIS:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPersonales.certDiscapacidad}}&nbsp;</span>
        <br></br><br></br><br></br>
        {% endif %}
        <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
            II.&nbsp;DATOS COMO POSTULANTE
        </div>
        <br></br><br></br>
        <span extends="labels">1. Cargo al que postula:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.cargoAPostular}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">2. Condición:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.condicion}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">3. Curso de PROFA o Ascenso en la AMAG:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{% if DatosPostulante.tipoCurso==1 %} PROFA  {%else%}  Ascenso {%endif %}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;NOTA: {{DatosPostulante.nota}}  &nbsp;</span>
        <br></br><br></br>

        <span extends="labels">4. Pre-Promedio:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.prePromedio}}&nbsp;</span>
        <span extends="labels">Orden de Mérito:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.ordenMerito}}&nbsp;</span>
        <span extends="labels">Plazas Vacantes:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.plazasVacantes}}&nbsp;</span>
        <br></br><br></br>

        <span extends="labels">5. Examen de Conocimientos:</span>&nbsp;&nbsp;
        <span font-size="17px" border.size="1px">&nbsp;{{DatosPostulante.examenConocimientos}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">6. Postulación en Convocatorias anteriores:</span>&nbsp;&nbsp;
        <br></br><br></br>
        <table>
            <tr background.color="#cccccc" text-align="center" font-style="bold">
                <td height="25px">CONVOCATORIA</td>
                <td>PLAZA</td>
                <td>ETAPA</td>             
            </tr>
             {% for conv in ConvocatoriasAnteriores %}
            <tr text-align="center">
                <td height="25px">{{conv.convocatoria}}</td>
                <td>{{conv.plaza}}</td>
                <td>{{conv.etapa}}</td>

            </tr>
             {% endfor %}

        </table>
        <br></br><br></br><br></br>
        <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
            III.&nbsp;DATOS ACADÉMICOS
        </div>
        <br></br><br></br>
        <span extends="labels">1. Universidad de Procedencia:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;{{daUniv}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">2. Colegio Profesional y fecha de incorporación:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;{{daCole}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{DatosAcademicos.fechaIncorporacion}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">3. Doctorado en Derecho:</span>
        <br></br><br></br>
        {%for doc in DocDerecho%}
        <table font-size="13px">
            <tr >
                <td width="100px" height="25px" font-style="bold">&nbsp;Universidad:</td>
                <td>{{doc.Universidad}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Nivel</td>
                <td>{{doc.Nivel}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Mensión</td>
                <td>{{doc.Mension}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Año</td>
                <td>{{doc.Anio}}</td>
            </tr>

        </table>
        <br></br><br></br>
        {% endfor %}
        <span extends="labels">4. Maestría en Derecho:</span>
        <br></br><br></br>
        {%for mae in MaeDerecho%}
        <table font-size="13px">
            <tr >
                <td width="100px" height="25px" font-style="bold">&nbsp;Universidad:</td>
                <td>{{mae.Universidad}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Nivel</td>
                <td>{{mae.Nivel}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Mensión</td>
                <td>{{mae.Mension}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Año</td>
                <td>{{mae.Anio}}</td>
            </tr>
        </table>
        <br></br><br></br>
        {% endfor %}
        <span extends="labels">5. Doctorado / Maestría en otras Disciplinas:</span>
        <br></br><br></br>
        {%for otr in OtrasDisciplinas%}
        <table  font-size="13px">
            <tr >
                <td width="100px" height="25px" font-style="bold">&nbsp;Universidad:</td>
                <td>{{otr.Universidad}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Nivel</td>
                <td>{{otr.Nivel}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Mensión</td>
                <td>{{otr.Mension}}</td>
            </tr>
            <tr>
                <td width="100px" height="25px" font-style="bold">Año</td>
                <td>{{otr.Anio}}</td>
            </tr>
        </table>
        <br></br><br></br>
        {% endfor %}
        <span extends="labels">6. Título Profesional en Otras Disciplinas:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;&nbsp;{{DatosAcademicos.tituloOtros}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">7. Tesis para obtener el Título Profesional:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;&nbsp;{{DatosAcademicos.tesisTitular}}&nbsp;</span>
        <br></br><br></br>
        <span extends="labels">8. Méritos Universitarios:</span>
        <br></br><br></br>
        <span font-size="17px" border.size="1px">&nbsp;{{MeritosUniv.Puesto}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{MeritosUniv.Universidad}}&nbsp;</span>
        <span font-size="17px" border.size="1px">&nbsp;{{MeritosUniv.Anio}}&nbsp;</span>
        <br></br><br></br>
        <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
            IV.&nbsp;EXPERIENCIA PROFESIONAL
        </div>
        <br></br><br></br>
        <span extends="labels">1. Documentos Calificados de DESEMPEÑO PROFESIONAL:</span>
        <br></br><br></br>
        <table>
            <tr text-align="center" background.color="#cccccc" font-style="bold">
                <td width="30px" text-align="center">N°</td>
                <td width="40px" text-align="center">N° Exp.</td>
                <td>Demandante/<br></br>Denunciante/<br></br>Agraviado/<br></br>Solicitante</td>
                <td>Demandado/<br></br>Denunciado/<br></br>Agresor/<br></br>Entidad</td>
                <td>Materia</td>
                <td>Especialidad</td>
                <td>1° <br></br>Calificación</td>
                <td>2°<br></br>Calificación<br></br>(R.R)</td>
            </tr>
            {% for docdes in DocDesProfesional%}
            <tr>
                <td text-align="center" height="50px">{{docdes.Num}}</td>
                <td text-align="center">{{docdes.NumExp}}</td>
                <td>{{docdes.Ddas}}</td>
                <td>{{docdes.Ddae}}</td>
                <td>{{docdes.Materia}}</td>
                <td>{{docdes.Especialidad}}</td>
                <td text-align="center">{{docdes.Calificacion1}}</td>
                <td text-align="center">{{docdes.Calificacion2}}</td>
            </tr>
            {% endfor%}
        </table>
        <br></br><br></br>
        <span extends="labels">2. Magistrado Ratificado:</span>

        <b>
        {% if MagistradoRatificado.respuesta1==0%}NO,
        {% elseif MagistradoRatificado.respuesta1==1%}SI,
        {% elseif MagistradoRatificado.respuesta1==2%}Aun no ha sido objeto de proceso de ratificación,
        {% elseif MagistradoRatificado.respuesta1==3%}En convocatoria,
        {% endif %} </b>&nbsp;{{MagistradoRatificado.respuesta2}}&nbsp;
            <br></br><br></br>
        {% if MagistradoRatificado.respuesta1 ==0 or MagistradoRatificado.respuesta1 ==1%}
            <b> Resolución N°</b> <span font-size="17px" border.size="1px">&nbsp;{{MagistradoRatificado.resolucion}}</span>
            <b> de fecha </b><span font-size="17px" border.size="1px">&nbsp;{{MagistradoRatificado.fechaRes}}</span>
        {% endif %}

            <span font-size="17px" border.size="1px">{{MagistradoRatificado.respuesta3}}</span>
            <br></br><br></br>
            <span extends="labels">3. Calidad de sus Decisiones Judiciales y Fiscales<br></br>
                (En caso de Magistrados Ratificados o No Ratificados):</span>
            <br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td width="30px" text-align="center">N°</td>
                    <td width="40px" text-align="center">N° Exp.</td>
                    <td>Tipo de <br></br>Resolución</td>
                    <td>Fecha<br></br> de Res.</td>

                    <td>Demandante/<br></br>Denunciante/<br></br>Agraviado</td>
                    <td>Demandado/<br></br>Denunciado/<br></br>Agresor</td>
                    <td>Materia</td>
                    <td>Especialidad</td>
                    <td>Nota</td>
                </tr>
            {% for cal in CalJudFis%}
                <tr>
                    <td text-align="center" height="50px">{{cal.Num}}</td>
                    <td text-align="center">{{cal.NumExp}}</td>
                    <td>{{cal.TipResolucion}}</td>
                    <td>{{cal.FechaRes}}</td>
                    <td>{{cal.Ddagraviado}}</td>
                    <td>{{cal.Ddagresor}}</td>
                    <td>{{cal.Materia}}</td>
                    <td>{{cal.Especialidad}}</td>
                    <td text-align="center">{{cal.Nota}}</td>
                </tr>
           {% endfor%}
            </table>
            <br></br><br></br>
            <span extends="labels">4. SITUACIÓN LABORAL ACTUAL:</span>
            <br></br><br></br>
            <div border.color="black" padding="10px">{{SitLaboral}}</div>
            <br></br><br></br>
            <span extends="labels">(Tres últimas)</span>
            <br></br><br></br>
                {% for detsit in DetSituacionLaboral%}
            <table>
                <tr>
                    <td width="150px" height="25px">Centro de Trabajo:</td>
                    <td>{{detsit.CentroTrabajo}}</td>
                </tr>
                <tr>
                    <td height="25px">Cargo:</td>
                    <td>{{detsit.Cargo}}</td>
                </tr>
                <tr>
                    <td height="25px">Periodo:</td>
                    <td>{{detsit.Periodo}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
                {% endfor %}
            <span extends="labels">5. DOCENCIA UNIVERSITARIA</span>
            <br></br><br></br>
                {% for docuni in DocenciaUniversitaria%}
            <table>
                <tr>
                    <td width="150px" height="25px">Universidad:</td>
                    <td>{{docuni.Universidad}}</td>
                </tr>
                <tr>
                    <td height="25px">Facultad:</td>
                    <td>{{docuni.Facultad}}</td>
                </tr>
                <tr>
                    <td height="25px">Condición:</td>
                    <td>{{docuni.Condicion}}</td>
                </tr>
                <tr>
                    <td height="25px">Categoria:</td>
                    <td>{{docuni.Categoria}}</td>
                </tr>
                <tr>
                    <td height="25px">Cursos:</td>
                    <td>{{docuni.Cursos}}</td>
                </tr>
                <tr>
                    <td height="25px">Periodo:</td>
                    <td>{{docuni.Periodo}}</td>
                </tr>
            </table> <br></br><br></br><br></br>
                {% endfor %}

            <span extends="labels">6. PUBLICACIONES:</span><br></br><br></br><br></br>
            <span extends="labels">6.1. Libros o Textos Universitarios</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.librosTextosUniv}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.2. Investigaciones Jurídicas Doctrinarias o de Campo</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.invJuridicas}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.3. Ensayos en materia Jurídica</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.ensayosJuridico}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.4. Artículos en materia Jurídica</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.articulosJuridicos}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">6.5. Artículos en materia No Jurídica</span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{Publicaciones.articulosNoJuridicos}}</div>
            <br></br><br></br><br></br>
            <span extends="labels">7. Producción Jurisdiccional o Fiscal:&nbsp;</span><b>{{ProdJurFiscal.Respuesta}}</b><br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{ProdJurFiscal.DetRespuesta}}</div>
            <br></br><br></br><br></br>
            <span extends="labels"> 8. Licencias Otorgadas (de los últimos cinco años)</span>
            <br></br><br></br><br></br>
            <table>
                <tr >
                    <td height="25px" width="50px" text-align="center">AÑO</td>
                    <td text-align="center">MOTIVO</td>
                    <td width="50px" text-align="center">DÍAS</td>
                </tr>
                {%for lic in LicenciasOtorgadas%}
                <tr >
                    <td text-align="center" height="25px">{{lic.Anio}}</td>
                    <td>{{lic.Motivo}}</td>
                    <td text-align="center">{{lic.Dias}}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td height="25px" colspan="2"><div text-align="right">TOTAL:</div></td>
                    <td text-align="center">{{SumDias}}</td>
                </tr>
            </table>          
            <br></br><br></br><br></br>

            <div color="black" height="20px" background.color="#cccccc" font-style="bold" font-size="13px"   >
                V. &nbsp;CONDUCTA
            </div>      
            <br></br><br></br><br></br>
            <span extends="labels">1. ANTECEDENTES PENALES, JUDICIALES Y POLICIALES</span>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td width="140px" height="25px">Antecedentes Penales</td>
                    <td>{{anteA}}</td>
                </tr>
                <tr>
                    <td height="25px">Antecedente Judiciales</td>
                    <td>{{anteB}}</td>
                </tr>

                <tr>
                    <td height="25px">Antecedente Policiales</td>
                    <td>{{anteC}}</td>
                </tr>

            </table>
            <br></br><br></br><br></br>
            <span extends="labels">2. PROCESOS JUDICIALES</span>
            <br></br><br></br><br></br>
            <span extends="labels">PROCESOS JUDICIALES CIVILES, PENALES, DE FAMILIA, LABORALES COMO DEMANDANTE / DENUNCIANTE</span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td>Expediente</td>
                    <td>Órgano<br></br>Jurisdiccional</td>
                    <td>Demandado/<br></br>Denunciado</td>
                    <td>Materia</td>
                    <td>Estado</td>
                </tr>
                {%for item in dpostul_rep%}
                <tr>
                    <td height="35px">{{item.expediente}}</td>
                    <td>{{item.organo}}</td>
                    <td>{{item.demandadoagresor}}</td>
                    <td>{{item.materia}}</td>
                    <td>{{item.estado}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">COMO DEMANDADO / DENUNCIADO</span>
            <br></br><br></br><br></br>

            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td>Expediente</td>
                    <td>Órgano<br></br>Jurisdiccional</td>
                    <td>Demandado/<br></br>Denunciado</td>
                    <td>Materia</td>
                    <td>Estado</td>
                </tr>
                {% for item in dpostul_repB%}
                <tr>
                    <td height="35px">{{item.expediente}}</td>
                    <td>{{item.organo}}</td>
                    <td>{{item.demandadoagresor}}</td>
                    <td>{{item.materia}}</td>
                    <td>{{item.estado}}</td>
                </tr>
                {%endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">COMO AGRAVIADO</span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td>Expediente</td>
                    <td>Órgano<br></br>Jurisdiccional</td>
                    <td>Agresor</td>
                    <td>Materia</td>
                    <td>Estado</td>
                </tr>
                {%for item in dpostul_repC%}
                <tr>
                    <td height="35px">{{item.expediente}}</td>
                    <td>{{item.organo}}</td>
                    <td>{{item.demandadoagresor}}</td>
                    <td>{{item.materia}}</td>
                    <td>{{item.estado}}</td>
                </tr>
                {% endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                3. PROCEDIMIENTOS ADMINISTRATIVOS EN LA ADMINISTRACIÓN PÚBLICA EN GENERAL
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px">Institución</td>
                    <td>Resolución</td>
                    <td>Sanción</td>
                    <td>Estado</td>
                </tr>
                {% for item in dpostul_repD%}
                <tr>
                    <td height="35px">{{item.idinstitucion}}</td>
                    <td>{{item.resolucion}}</td>
                    <td>{{item.sancion}}</td>
                    <td>{{item.estado}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                4. SANCIONES ADMINISTRATIVAS EN LA ADMINISTRACIÓN PÚBLICA GENERAL
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px">Institución</td>
                    <td>Resolución</td>
                    <td>Sanción</td>
                </tr>
                    {% for item in dpostul_repE%}
                <tr>
                    <td height="35px">{{item.idinstitucion}}</td>
                    <td>{{item.resolucion}}</td>
                    <td>{{item.sancion}}</td>
                </tr>
                    {% endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                5. MEDIDAS DISCIPLINARIAS EN EL PODER JUDICIAL Y MINISTERIO PÚBLICO
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px">Institución</td>
                    <td>Sanción</td>
                    <td>Expediente, Resolución y Motivo</td>
                </tr>
                {% for item in dpostul_repF%}
                <tr>
                    <td height="35px">{{item.idinstitucion}}</td>
                    <td>{{item.sancion}}</td>
                    <td>{{item.resolucion}}</td>
                </tr>
                {% endfor%}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                6. EN EL PODER JUDICIAL
            </span>
            <br></br><br></br><br></br>
            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;EN TRÁMITE&nbsp;</span>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px">Expediente</td>
                    <td>Motivo</td>
                    <td>Estado</td>
                </tr>
                {% for item in dpostul_repFA%}
                <tr>
                    <td height="35px">{{item.expediente}}</td>
                    <td>{{item.motivo}}</td>
                    <td>{{item.estadoproc}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. QUEJAS, VISITAS E INVESTIGACIONES ANTE LA OCMA / ODECMA
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Quejas, Visitas e<br></br>Investigaciones</td>
                    <td>Motivo</td>
                    <td>Estado</td>
                </tr>
                {% for item in dpostul_repFB %}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Quejas}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>

                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                3. INVESTIGACIONES PRELIMINARES
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Motivo</td>
                    <td>Estado</td>
                </tr>
                {% for item in dpostul_repFC%}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>

            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;CONCLUIDAS&nbsp;</span>
            <br></br><br></br><br></br>

            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px">Institución</td>
                    <td>Expediente</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFD %}
                <tr>
                    <td height="35px">{{item.IdInstitucion}}</td>
                    <td>{{item.Expediente}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. QUEJAS, VISITAS E INVESTIGACIONES ANTE LA OCMA / ODECMA
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Quejas, Visitas e <br></br>Investigaciones</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFE%}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Quejas}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                3. INVESTIGACIONES PRELIMINARES
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFF%}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                7. EN EL MINISTERIO PÚBLICO
            </span>
            <br></br><br></br><br></br>
            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;EN TRÁMITE&nbsp;</span>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px">Expediente</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFA2%}
                <tr>
                    <td height="35px">{{item.Expediente}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>                
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Denuncia y/o Queja</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFB2%}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Quejas}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>                
                {% endfor %}
            </table>

            <br></br><br></br><br></br>
            <span extends="labels">
                3. INVESTIGACIONES PRELIMINARES:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {%for item in dpostul_repFC2%}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>  
                </tr>     
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span background.color="#000000" font-style="bold"  color="#ffffff">&nbsp;CONCLUIDAS&nbsp;</span>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. PROCESOS DISCIPLINARIOS EN EL MINISTERIO PÚBLICO:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" text-align="center">Institución</td>
                    <td>Expediente</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFD2 %}
                <tr>
                    <td height="35px">{{item.IdInstitucion}}</td>
                    <td>{{item.Expediente}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <span extends="labels">
                2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="30px" text-align="center">Nº</td>
                    <td>Quejas, Visitas e <br></br>Investigaciones</td>
                    <td>Motivo</td>
                    <td>Estado</td>                    
                </tr>
                {% for item in dpostul_repFE2%}
                <tr>
                    <td height="35px" text-align="center">{{item.Num}}</td>
                    <td>{{item.Quejas}}</td>
                    <td>{{item.Motivo}}</td>
                    <td>{{item.EstadoProc}}</td>                    
                </tr>
                {% endfor %}
            </table>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                VI.&nbsp;INFORMACIÓN DE LA OFICINA DE REGISTRO DE JUECES Y FISCALES DEL CNM
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{info1}}</div>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                VII.&nbsp;INFORMACIÓN DE LA DIRECCIÓN DE PROCESOS DISCIPLINARIOS DEL CNM
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{info2}}</div>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                VIII.&nbsp;INFORMACIÓN DEL COLEGIO DE ABOGADOS
            </div>
            <br></br><br></br><br></br>
            <span extends="labels">
                1. DENUNCIAS, QUEJAS, PROCESOS DISCIPLINARIOS Y SANCIONES
            </span>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{info3}}</div>
            <br></br><br></br><br></br>

            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                X. INFORMACIÓN PATRIMONIAL (ECONÓMICA E INMOBILIARIA)
            </div>

            <br></br><br></br><br></br>
            <span extends="labels">
                1. Cuadro de Declaraciones Juradas de Bienes y Rentas
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="3" height="35px" text-align="center" background.color="#cccccc" font-style="bold">INGRESOS</td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="40px">Año</td>
                    <td>Descripción</td>
                    <td  width="45px">Valor</td>                    
                </tr>
                {% for item in Ingresos1%}
                <tr>
                    <td text-align="center" height="35px">{{item.anio}}</td>
                    <td>{{item.descripcion}}</td>
                    <td text-align="center">{{item.valor}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td height="35px" colspan="2" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum1}}</td>
                </tr>
            </table>

            <br></br><br></br><br></br>

            <table>
                <tr>
                    <td colspan="2" height="35px" text-align="center" background.color="#cccccc" font-style="bold">OTROS INGRESOS</td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" width="40px">Ingresos del declarante y de la sociedad de gananciales</td>
                    <td  width="45px">Valor</td>                    
                </tr>
                {% for item in otrosingresos%}
                <tr>
                    <td height="35px">{{item.Descripcion}}</td>
                    <td width="40px" text-align="center">{{item.Monto}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td height="35px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum2}}</td>
                </tr>
            </table>

            <br></br><br></br><br></br>
            <span extends="labels">
                2. Cuadro de su Patrimonio Inmobiliario
            </span>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="4" height="35px" text-align="center" background.color="#cccccc" font-style="bold">
                        Bienes inmuebles: 
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" >Tipo de Bien</td>
                    <td>Ubicación</td>
                    <td>Fecha de Adquisición</td>
                    <td>Valor de <br></br> Autovalúo S/.</td>
                </tr>
                {% for item in dpostul%}
                <tr>
                    <td height="35px">{{item.TipoBien}}</td>
                    <td>{{item.Ubicacion}}</td>
                    <td text-align="center">{{item.Fecha}}</td>
                    <td text-align="center">{{item.Monto}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" height="35px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum3}}</td>
                </tr>
            </table>

            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="4" height="35px" text-align="center" background.color="#cccccc" font-style="bold">
                        Bienes muebles: 
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" >Tipo de Bien</td>
                    <td>Ubicación</td>
                    <td>Fecha de Adquisición</td>
                    <td>Valor de <br></br> Autovalúo S/.</td>
                </tr>
                {% for item in dpo%}
                <tr>
                    <td height="35px">{{item.TipoBien}}</td>
                    <td>{{item.Ubicacion}}</td>
                    <td text-align="center">{{item.Fecha}}</td>
                    <td text-align="center">{{item.Monto}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" height="35px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum4}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="2" height="35px" text-align="center" background.color="#cccccc" font-style="bold">
                        Otros Bienes: 
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" >Detallar</td>
                    <td width="40px">Valor</td>
                </tr>
                {% for item in dpatri%}
                <tr>
                    <td height="35px">{{item.Descripcion}}</td>
                    <td text-align="center">{{item.Valor}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td height="35px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum5}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="3" height="35px" text-align="center" background.color="#cccccc" font-style="bold">
                        Sistema Financiero
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" >Clase</td>
                    <td>Entidad o Tercero</td>
                    <td>Monto S/.</td>
                </tr>

                {% for item in Financi%}
                <tr>
                    <td height="35px" >{{item.Clase}}</td>
                    <td>{{item.Entidad}}</td>
                    <td text-align="center">{{item.Valor}}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" height="35px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum6}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td colspan="3" height="35px" text-align="center" background.color="#cccccc" font-style="bold">
                        Acreencias y Obligaciones a su cargo
                    </td>
                </tr>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" >Naturaleza de la deuda</td>
                    <td>Entidad o Tercero</td>
                    <td>Monto S/.</td>
                </tr>
                {%for item in Acre_array%}
                <tr>
                    <td height="35px" >{{item.Naturaleza}}</td>
                    <td>{{item.Entidad}}</td>
                    <td text-align="center">{{item.Valor}}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" height="35px" text-align="right">TOTAL:</td>
                    <td text-align="center">{{sum7}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XI. MOVIMIENTO MIGRATORIO
            </div>
            <br></br><br></br><br></br>
            <table>
                <tr text-align="center" background.color="#cccccc" font-style="bold">
                    <td height="35px" >Movimiento</td>
                    <td>Fecha</td>
                    <td>Destino / Procedencia</td>
                </tr>
                {% for item in dataMovMig%}
                <tr>
                    <td text-align="center" height="35px">{{item.Tipo}}</td>
                    <td text-align="center">{{item.Fecha}}</td>
                    <td>{{item.DestinoProcedencia}}</td>
                </tr>
                {% endfor %}
            </table>
            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XII.INFORMACIÓN DE LA CÁMARA DE COMERCIO, INFOCORP Y SBS
            </div>
            <br></br><br></br><br></br>
            <table>
                <tr>
                    <td text-align="center" width="120px" height="35px">Cámara de Comercio</td>
                    <td>{{info21}}</td>
                </tr>
                <tr>
                    <td text-align="center" height="35px">Infocorp</td>
                    <td>{{info22}}</td>
                </tr>
                <tr>
                    <td text-align="center" height="35px">SBS</td>
                    <td>{{info23}}</td>
                </tr>
            </table>
            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XIII. INFORMACIÓN DEL REGISTRO DE DEUDORES ALIMENTARIOS MOROSOS - REDAM
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{rubro4.DeudoresAlimentarios}}</div>

            <br></br><br></br><br></br>
            <div color="black" height="20px"  background.color="#cccccc" font-style="bold" font-size="13px"   >
                XIV. INFORMACIÓN COMPLEMENTARIA
            </div>
            <br></br><br></br><br></br>
            <div border.color="black" padding="10px">{{rubro4.Complementaria}}</div>

        </dynamic-page>



    </pdf>