<div id="tabs1-3">
    <div class="area-registro">
        <div class="tab-title"> DATOS ACAD&Eacute;MICOS
            <input type="button" id="guardar_datos_academicos" class="add-icon" value="Actualizar">
        </div>
        <form id="frm-datos-academicos">
            <table width="65%"  cellspacing="15px" align="center">
                <tr>
                    <td colspan="2">
                        <label class="labelText">1. Universidad de Procedencia:</label>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                            <select  name="cbo_univProcedencia">
                        {{cbo_univ_prov|raw('html')}}
                            </select>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <label class="labelText">2. Colegio Profesional y fecha de incorporación:</label>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td> 
                                <select class="combo_colegios" name="cbo_colegioProfesional">
                                {{cbo_col_proc|raw('html')}}
                                </select>
                                <input type="text" name="txt_fechaIncorporacion" class="datepicker textbox-datepicker" value="{{dac.fechaIncorporacion}}">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <label class="labelText">3. Doctorado en Derecho:</label>&nbsp;&nbsp;<div id="add_docderecho" class="add-icon">Agregar</div>
                                <input type="hidden" name="txt_detEstudios_doc" value="Doctorado en Derecho">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table align="center" id="tableDocDerecho">
                                    <tbody id="bodyDocDerecho">

                                       {{tables_doc_derecho|raw('html')}}

                                    </tbody>
                                </table>




                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label class="labelText">4. Maestría en Derecho:</label>&nbsp;&nbsp;
                                <div id="add_maederecho" class="add-icon">Agregar</div>
                                <input type="hidden" name="txt_detEstudios_mae" value="Maestría en Derecho">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <table align="center" id="tableMaeDerecho" >
                                    <tbody id="bodyMaeDerecho">
                                        {{tables_mae_derecho|raw('html')}}
                                    </tbody>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label class="labelText">5. Doctorado / Maestría en otras Disciplinas:</label>&nbsp;&nbsp;
                                <div class="add-icon" id="add_MaeDerOtrasDisc">Agregar</div>

                                <input type="hidden" name="txt_detEstudios_otras" value="Doctorado / Maestría en otras Disciplinas">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table align="center" id="tableMaeDerOtrasDisc" >
                                    <tbody id="bodyMaeDerOtrasDisc">
                                        {{tables_docotros|raw('html')}}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label class="labelText">6. Título Profesional en Otras Disciplinas:</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea class="text-area" name="txt_tituloOtros">{{dac.tituloOtros}}</textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label class="labelText">Tesis para obtener el Título Profesional:</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea class="text-area" name="txt_tesisTitular">{{dac.tesisTitular}}</textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label class="labelText">7. Méritos Universitarios:</label>
                                    </td>
                                </tr>
                                {{data_meritos_univ|raw('html')}}
                            </table>
                        </form>

                    </div>  
                </div>